<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="pixeladmin/layouts/main-default">

    <head>
        <title>Zafritech SE - User Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <!-- Content -->
        <div layout:fragment="content" class="px-content">
            
                    <div class="col-md-8">

                        <div class="panel panel-info panel-dark">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-sitemap"></i>My Basic Details</span>
                                <div class="panel-heading-controls">
                                    <div class="btn-group btn-group-xs pull-right">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border-radius: 2px;">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0);" th:onclick="'javascript:UserBasicProfileUpdate(\'' + ${user.uuId} + '\');'"><i class="fa fa-pencil m-r-1"></i>Edit Profile</a></li>
                                            <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-picture-o m-r-1"></i>Change Photo</a></li>
                                            <li><a href="javascript:void(0);" th:onclick="'javascript:UserPwdChange(\'' + ${user.uuId} + '\');'"><i class="fa fa-key m-r-1"></i>Change Password</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3" align="center">
                                        <img src="/images/profile.png" class="img-circle img-responsive" />
                                    </div>
                                    <div class=" col-md-9">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr th:if="${user.lastName != null}">
                                                    <td><strong>Full name:</strong></td>
                                                    <td th:text="${user.firstName} + ' ' + ${user.lastName}">Full Name</td>
                                                </tr>
                                                <tr th:if="${user.lastName == null}">
                                                    <td><strong>Full name:</strong></td>
                                                    <td th:text="${user.firstName}">Full Name</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Title:</strong></td>
                                                    <td th:text="${user.mainRole}">Systems Engineer</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Email:</strong></td>
                                                    <td th:text="${user.email}">email@example.com</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Login ID:</strong></td>
                                                    <td th:text="${user.userName}">email@example.com</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Roles and Claims--> 
                        <div class="panel panel-info panel-dark">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-wrench"></i>My Roles and Authorizations</span>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr th:if="${user.lastName != null}">
                                            <td><strong>Role:</strong></td>
                                            <td th:text="${user.firstName} + ' ' + ${user.lastName}">Full Name</td>
                                        </tr>
                                        <tr th:if="${user.lastName == null}">
                                            <td><strong>Role:</strong></td>
                                            <td th:text="${user.firstName}">Full Name</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Role:</strong></td>
                                            <td th:text="${user.mainRole}">Systems Engineer</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Projects --> 
                        <div class="panel panel-info panel-dark">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    <i class="panel-title-icon fa fa-line-chart"></i>My Projects
                                </span>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><strong>Project:</strong></td>
                                            <td>Zidingo Requirements Management System</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        
                        <div class="panel panel-info panel-dark">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-address-card-o"></i>My Contact Information</span>
                                <div class="panel-heading-controls">
                                    <div class="btn-group btn-group-xs pull-right">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border-radius: 2px;">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="javascript:void(0);" th:onclick="'javascript:UserContactDetailsUpdate(\'' + ${user.uuId} + '\');'">
                                                    <i class="fa fa-pencil m-r-1"></i>Update Details
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body" th:if="${user.contact != null}">
                                
                                <table class="table table-hover">
                                    <tr>
                                        <td style="width: 40%"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email</td>
                                        <td><span th:text="${user.contact.email}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%"><i class="fa fa-globe"></i>&nbsp;&nbsp;Website</td>
                                        <td><span th:text="${user.contact.website}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%"><i class="fa fa-phone"></i>&nbsp;&nbsp;Telephone</td>
                                        <td><span th:text="${user.contact.phone}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%"><i class="fa fa-mobile"></i>&nbsp;&nbsp;&nbsp;Mobile</td>
                                        <td><span th:text="${user.contact.mobile}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%"><i class="fa fa-id-card-o"></i>&nbsp;&nbsp;Postal Address</td>
                                        <td><span th:text="${user.contact.address}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%"><i class="fa fa-flag"></i>&nbsp;&nbsp;Country</td>
                                        <td>
                                            <span th:text="${user.contact.country.countryName}"></span>&nbsp;&nbsp;
                                            <img th:attr="src=${user.contact.country.flag}" width="25" height="16" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%"><i class="fa fa-map"></i>&nbsp;&nbsp;Region</td>
                                        <td><span th:text="${user.contact.state}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%"><i class="fa fa-bus"></i>&nbsp;&nbsp;City/Town</td>
                                        <td><span th:text="${user.contact.city}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;Post Code</td>
                                        <td><span th:text="${user.contact.postCode}"></span></td>
                                    </tr>
                                </table>
                                
                            </div>

                        </div>
                    </div>
                
                </div>


    </body>

    <th:block layout:fragment="scripts"></th:block>

</html>