<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="pixeladmin/layouts/main-default">

    <head>
        <title>Zafritech SE - Companies</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <!-- Content -->
        <div layout:fragment="content" class="px-content">

            <div class="page-header">
                <h1 id="pagetitle">Zafritech SE - Companies</h1>
            </div>

            <div class="row">
                <div class="col-md-12 font-size-14">
                  
                    <div class="panel panel-info panel-dark">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="panel-title-icon fa fa-institution"></i>Organisations</span>
                            <div class="panel-heading-controls">
                                <div class="btn-group btn-group-xs">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border-radius: 2px;">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="javascript:void(0);" th:onclick="'javascript:CompanyCreateNew();'">
                                                <i class="fa fa-plus m-r-1"></i>New Company
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <table th:if="${!companies.isEmpty()}" class="table table-bordered" style="margin-bottom: 0;">

                                <thead>
                                    <tr>
                                        <th>Organisation Name</th>
                                        <th style="width: 80px;">Code</th>
                                        <th style="width: 150px;">Role</th>
                                        <th style="width: 200px;">Email Contact</th>
                                        <th style="width: 180px;">Country</th>
                                        <th style="width: 60px; text-align: center;">Contacts</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="company : ${companies}">
                                        <td>
                                            <a th:href="@{/admin/companies/} + ${company.uuId}">
                                                <span th:text="${company.companyName}">Organisation Name</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a th:href="@{/admin/companies/} + ${company.uuId}">
                                                <span th:text="${company.companyCode}">Company Role</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a th:href="@{/admin/companies/} + ${company.uuId}">
                                                <span th:text="${#strings.replace(company.companyRole, '_ORGANISATION', '')}">Company Role</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span th:if="${company.contact != null}" th:text="${company.contact.email != null ? company.contact.email : ''}">Role Description</span>
                                        </td>
                                        <td>
                                            <div>
                                                <span th:if="${company.contact != null}"  th:text="${company.contact.country != null ? company.contact.country.countryName : ''}">City</span>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <a th:if="${company.contact != null}" href="javascript:void(0);" th:onclick="'javascript:CompanyContactsView(\'' + ${company.uuId} + '\', \'' + ${company.companyShortName} + '\');'">
                                                <i class="fa fa-address-card-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                        <div class="panel-footer">
                            <span th:utext="${coCount} + ' Organisations, Page ' + ${page} + ' of ' + ${count}" class="font-size-12">Page # of ##</span> 
                            <span class="pull-right">
                                <ul class="pagination pagination-xs" style="margin-top: -2px;">
                                    <li th:class="${page == 1} ? 'disabled' : ''">
                                        <span th:if="${page == 1}">First</span>
                                        <a th:if="${page != 1}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=1'}">First</a>
                                    </li>
                                    <li th:class="${page != 1} ? '' : 'disabled'">
                                        <span th:if="${page == 1}">«</span>
                                        <a th:if="${page != 1}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=' + ${page - 1}}"><span>«</span></a>
                                    </li>

                                    <li th:each="p : ${list}" th:class="${p == page ? 'active' : ''}">
                                        <span th:if="${p == page}" th:text="${page}">1</span>
                                        <a th:if="${p != page}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=' + ${p}}" th:text="${p}">1</a>
                                    </li>

                                    <li th:if="${count > last}" class="disabled"><span>...</span></li>

                                    <li th:class="${page == count} ? 'disabled' : ''">
                                        <span th:if="${page == count}">»</span>
                                        <a th:if="${page != count}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=' + ${page + 1}}">»</a>
                                    </li>
                                    <li th:class="${page == count} ? 'disabled' : ''">
                                        <span th:if="${page == count}">Last</span>
                                        <a th:if="${page != count}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=' + ${count}}">Last</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
        </div>

    </body>
</html>
