<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/master">

    <head>
        <title>Zidingo PMS - User Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">
            
            <div class="content-heading bg-white">
                <div class="row">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                        <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                        <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                            <li><a href="/admin/users"><em class="ion-person-stalker icon-fw"></em>Users List</a></li>
                        </ul>
                    </div>
                    <!-- END dropdown-->
                    <h4 class="m0">User Proile Management</h4>
                </div>
            </div>

            <div class="row content">
                
                <div class="container container-lg">
                    
                    <div class="col-md-8">

                        <div class="card">
                            
                            <div class="card-heading bg-pink-500">
                                <!-- START dropdown-->
                                <div class="pull-right dropdown">
                                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);" th:onclick="'javascript:UserBasicProfileUpdate(\'' + ${user.uuId} + '\');'"><em class="ion-edit icon-fw"></em>Edit Profile</a></li>
                                    <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-ios-camera icon-fw"></em>Profile Picture</a></li>
                                    <li><a href="javascript:void(0);" th:onclick="'javascript:UserPwdChange(\'' + ${user.uuId} + '\');'"><em class="ion-key icon-fw"></em>Change Password</a></li>
                                  </ul>
                                </div>
                                <!-- END dropdown-->
                                <div class="card-title" th:text="${user.firstName} + '\'s' + ' Profile'">Profile</div>
                            </div>

                            <div class="card-body" style="padding-bottom: 0px;">
                                <div class="row">
                                    <div class="col-md-3" align="center">
                                        <img src="/images/profile.png" class="img-circle img-responsive" />
                                    </div>
                                    <div class=" col-md-9">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr th:if="${user.lastName != null}">
                                                    <td><strong>Full name:</strong></td>
                                                    <td th:text="${user.firstName} + ' ' + ${user.lastName}">Full Name</td>
                                                </tr>
                                                <tr th:if="${user.lastName == null}">
                                                    <td><strong>Full name:</strong></td>
                                                    <td th:text="${user.firstName}">Full Name</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Title:</strong></td>
                                                    <td th:text="${user.mainRole}">Systems Engineer</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Email:</strong></td>
                                                    <td th:text="${user.email}">email@example.com</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Login ID:</strong></td>
                                                    <td th:text="${user.userName}">email@example.com</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <!--Roles--> 
                        <div class="card">
                            
                            <div class="card-heading bg-pink-500">
                                <!-- START dropdown-->
                                <div class="pull-right dropdown">
                                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);" th:onclick="'javascript:UserAdminManageRoles(\'' + ${user.uuId} + '\');'"><em class="ion-edit icon-fw"></em> Manage Roles</a></li>
                                  </ul>
                                </div>
                                <!-- END dropdown-->
                                <div class="card-title" th:text="${user.firstName} + '\'s' + ' Roles'">Roles</div>
                            </div>

                            <div class="card-body">
                                
                                <table th:if="${user.userRoles != null}" class="table table-bordered">
                                    <tbody>
                                        <tr th:each="role,iter : ${user.userRoles}">
                                            <td style="width: 50px; text-align: center;" th:text="${iter.count}"></td>
                                            <td th:text="${role.roleDisplayName}">Role Name</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <div th:if="${user.userRoles == null}">
                                    <div style="color: #E91E63; padding: 20px 10px;">This user has not been assigned any roles.</div>
                                </div>
                                
                            </div>
                        </div>
                         
                        <!-- Projects --> 
                        <div class="card">
                            
                            <div class="card-heading bg-pink-500">
                                <!-- START dropdown-->
                                <div class="pull-right dropdown">
                                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);" th:onclick="'javascript:UserAdminAssignProjects(\'' + ${user.uuId} + '\');'"><em class="ion-edit icon-fw"></em> Add Project</a></li>
                                  </ul>
                                </div>
                                <!-- END dropdown-->
                                <div class="card-title" th:text="${user.firstName} + '\'s' + ' Projects'"></div>
                            </div>

                            <div class="card-body">
                                
                                <table th:if="${!projects.isEmpty()}" class="table table-bordered">
                                    <tbody>
                                        <tr th:each="project, iter : ${projects}">
                                            <td style="width: 50px; text-align: center;" th:text="${iter.count}"></td>
                                            <td style="width: 200px;"  th:text="${project.projectNumber}">Number</td>
                                            <td th:text="${project.projectName}">Name</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>

                            <div th:if="${projects.isEmpty()}">
                                <div style="color: #E91E63; padding: 20px 10px;">This user is not a member of any projects.</div>
                            </div>
                            
                        </div>
                        
                        <!--Claims--> 
                        <div class="card">
                            
                            <div class="card-heading bg-pink-500">
                                <div class="card-title" th:text="${user.firstName} + '\'s' + ' Claims'">Claims</div>
                            </div>

                            <div class="card-body">
                                
                                <table th:if="${!claims.isEmpty()}" class="table table-bordered">
                                    <tbody>
                                        <tr th:each="claim, iter : ${claims}">
                                            <td style="width: 50px; text-align: center;" th:text="${iter.count}"></td>
                                            <td th:text="${claim.claim.claimDescription}">User Claim</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <div th:if="${claims.isEmpty()}">
                                    <div style="color: #E91E63; padding: 20px 10px;">This user has not been assigned any claims.</div>
                                </div>
                                
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        
                        <div class="card">

                            <div  class="card-heading bg-pink-500">
                                <!-- START dropdown-->
                                <div class="pull-right dropdown">
                                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);" th:onclick="'javascript:UserContactDetailsUpdate(\'' + ${user.uuId} + '\');'"><em class="ion-edit icon-fw"></em> Update Details</a></li>
                                  </ul>
                                </div>
                                <!-- END dropdown-->
                                <div class="card-title" th:text="${user.firstName} + '\'s' + ' Contacts'"></div>
                            </div>

                            <div class="card-body" th:if="${user.contact != null}">
                                
                                <div class="mda-list">
                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5; border-top: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-android-mail icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>Email</h3>
                                            <span th:text="${user.contact.email}"></span>
                                        </div>
                                    </div>
                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-earth icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>Website</h3>
                                            <span th:text="${user.contact.website}"></span>
                                        </div>
                                    </div>
                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-android-call icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>Telephone</h3>
                                            <span th:text="${user.contact.phone}"></span>
                                        </div>
                                    </div>
                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-android-phone-portrait icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>Mobile</h3>
                                            <span th:text="${user.contact.mobile}"></span>
                                        </div>
                                    </div>
<!--                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-ios-home-outline icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>Postal Address</h3>
                                            <span th:text="${user.contact.postalAddress}"></span>
                                        </div>
                                    </div>
                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-ios-home icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>Physical Address</h3>
                                            <span th:text="${user.contact.physicalAddress}"></span>
                                        </div>
                                    </div>-->
                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-ios-flag icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>Country</h3>
                                            <img th:attr="src=${user.contact.country.flag}" width="25" height="16" />
                                            <span th:text="${user.contact.country.countryName}"></span>
                                        </div>
                                    </div>
                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-map icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>Region</h3>
                                            <span th:text="${user.contact.state}"></span>
                                        </div>
                                    </div>
                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-android-bus icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>City/Town</h3>
                                            <span th:text="${user.contact.city}"></span>
                                        </div>
                                    </div>
                                    <div class="mda-list-item" style="padding: 0px; border-bottom: 1px solid #f5f5f5;">
                                        <div class="mda-list-item-icon">
                                            <em class="ion-pound icon-2x"></em>
                                        </div>
                                        <div class="mda-list-item-text mda-2-line">
                                            <h3>Post Code</h3>
                                            <span th:text="${user.contact.postCode}"></span>
                                        </div>
                                    </div>
                                </div>
                     
                            </div>

                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>

    </body>

    <th:block layout:fragment="scripts"></th:block>

</html>