<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/master">

    <head>
        <title>Zidingo PMS - My Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">
            
            <div class="row content">
                
                <div class="container container-md">
                   
                    <div class="col-md-12">

                        <!--Graphical Status-->
                        <div class="card">
                            <div class="card-heading bg-blue-grey-500">
                                <div class="card-title">My Statistics</div>
                            </div>
                            <div class="card-body pt0">
                                <div class="row" style="margin-top: 40px;">
                                    
                                    <div class="col-md-6">
                                        <div id="projectSnapshotsChart" style="margin-bottom: 20px;"><svg style="height: 330px;"></svg></div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <canvas id="requirementsStatusChart" width="200" height="152"></canvas>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <!--Recent documents-->
                        <div class="card">
                            <div class="card-heading bg-blue-grey-500">
                                <div class="card-title">My Recent Documents</div>
                            </div>
                            <div class="card-body pt0">

                                <div class="table-responsive" style="padding-top: 15px;">
                                    
                                    <table class="table" style="font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <th style="width: 200px;">Document #</th>
                                                <th>Title</th>
                                                <th style="width: 200px;">Project</th>
                                                <th style="width: 80px;">Info Class</th>
                                                <th style="width: 80px; text-align: center;">Version</th>
                                                <th style="width: 110px; text-align: center;">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="document : ${documents}">
                                                <td>
                                                    <a th:href="'/documents/document/' + ${document.uuId}">
                                                        <span th:text="${document.identifier}"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a th:href="'/documents/document/' + ${document.uuId}">
                                                        <span th:text="${document.documentLongName}"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a th:href="'/admin/projects/' + ${document.project.uuId}">
                                                        <span th:text="${document.project.projectName}"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <span th:text="${document.infoClass.className}"></span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span th:text="${document.documentIssue}"></span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span th:text="${#dates.format(document.modifiedDate, 'MMMM dd, yyyy')}"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <div class="pull-right" style="margin-top: -8px;">
                                        <a  href="/projects/documents">More documents ...</a>
                                    </div>
                                    
                                </div>
                            </div>
                       
                        </div>

                        <!--Tasks list-->
                        <div class="card">
                            <div class="card-heading bg-blue-grey-500">
                                <div class="card-title">My Latest Tasks</div>
                            </div>
                            <div class="card-body pt0">

                                <div class="table-responsive" style="padding-top: 15px;">
                                    
                                    <table class="table" style="font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <th style="width: 80px;">Task ID</th>
                                                <th>Description</th>
                                                <th style="width: 100px;">Type</th>
                                                <th style="width: 80px;">Priority</th>
                                                <th style="width: 80px;">Status</th>
                                                <th style="width: 110px;">Created</th>
                                                <th style="width: 110px;">Due Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="#">4556</a></td>
                                                <td>
                                                    <a href="#">Confirm requirement REQ-BMB-2001</a>
                                                </td>
                                                <td>Review</td>
                                                <td>HIGH</td>
                                                <td>NEW</td>
                                                <td>2017-07-20</td>
                                                <td>2017-09-20</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">4557</a></td>
                                                <td>
                                                    <a href="#">Confirm requirement REQ-LAU-2029</a>
                                                </td>
                                                <td>Review</td>
                                                <td>HIGH</td>
                                                <td>NEW</td>
                                                <td>2017-07-20</td>
                                                <td>2017-09-20</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">4598</a></td>
                                                <td>
                                                    <a href="#">Confirm requirement REQ-DSG-1032</a>
                                                </td>
                                                <td>Review</td>
                                                <td>HIGH</td>
                                                <td>ONGOING</td>
                                                <td>2017-07-20</td>
                                                <td>2017-09-20</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">4598</a></td>
                                                <td>
                                                    <a href="#">Confirm requirement REQ-DSG-1032</a>
                                                </td>
                                                <td>Review</td>
                                                <td>HIGH</td>
                                                <td>ONGOING</td>
                                                <td>2017-07-20</td>
                                                <td>2017-09-20</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">4598</a></td>
                                                <td>
                                                    <a href="#">Confirm requirement REQ-DSG-1032</a>
                                                </td>
                                                <td>Review</td>
                                                <td>HIGH</td>
                                                <td>ONGOING</td>
                                                <td>2017-07-20</td>
                                                <td>2017-09-20</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <div class="pull-right" style="margin-top: -8px;">
                                        <a  href="/tasks">More tasks ...</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                
            </div>
            
        </div>

    </body>

    <th:block layout:fragment="scripts">
        <script src="/js/zafritech/dashboard.js"></script>
    </th:block>

</html>