target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Dynamically cahnging ###
uploads/
/src/main/resources/static/images/documents/
/src/main/resources/static/images/library/
/src/main/resources/static/data/library/

### Other Excludes ###
### /src/main/resources/static/js/vendor/easyui/ ###
/nbproject/
