<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/zid-master-detail">

    <head>
        <title>Zidingo PMS - Folder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">
            
            <div class="content-heading bg-white">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="m0" th:text="${folder.project.projectName}">Folder</h4>
                        <small><span th:if="${folder.project.projectTagLine != null}"  th:text="${folder.project.projectTagLine}">Tag Line</span></small>
                    </div>
                    <div class="col-sm-3 text-right hidden-xs">
                        <a type="button" class="mt-sm btn btn-labeled btn-success ripple" th:href="@{/admin/projects/} + ${project.uuId}">
                            Project Home<span class="btn-label btn-label-right"><i class="ion-ios-home"></i></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row content">
                
                <div class="container container-lg">
                   
                    <div class="col-md-12">

                        <div class="card">
                            
                            <!-- zTree navigation tags START-->
                            <input type="hidden" id="treeValid" th:value="${project.Id}" />
                            <input type="hidden" id="projectId" th:value="${project.Id}" />
                            <input type="hidden" id="nodeId" th:value="${folder.Id}" />
                            <!-- zTree navigation tags END-->
                            
                            <div class="card-heading bg-white">
                                <div class="card-title" th:text="${folder.folderName} + ' - Documents'">Folder</div>
                            </div>
                            
                            <div class="card-body">
                                
                                <div th:if="${!documents.isEmpty()}">
                                    
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 200px;">Rerefence Number</th>
                                                <th>Title</th>
                                                <th style="width: 120px;">Date</th>
                                                <th style="width: 100px;">Status</th>
                                                <th style="width: 160px;">Author</th>
                                                <th style="width: 40px"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="document : ${documents}">
                                                <td>
                                                    <a th:href="@{'/documents/document/' + ${document.uuId}}">
                                                        <span th:text="${document.identifier}"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a th:href="@{'/documents/document/' + ${document.uuId}}">
                                                        <span th:text="${document.documentName}"></span>
                                                    </a>
                                                </td>
                                                <td th:text="${#dates.format(document.modifiedDate, 'MMM dd, yyyy')}"></td>
                                                <td th:text="${document.status}"></td>
                                                <td>
                                                    <span th:if="${document.owner != null}" th:text="${document.owner.email}"></span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <a href="javascript:void(0);">
                                                        <em class="ion-document-text icon-18"></em>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div th:if="${documents.isEmpty()}">
                                    
                                    <div style="color: #E91E63; padding: 20px 0;" th:text="'No documents found in the folder ' + ${folder.folderName}">Documents</div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>

                    </div>
                    
                </div>
                
            </div>
            
        </div>

        <th:block layout:fragment="scripts">
            <script src="/js/vendor/ztree/jquery.ztree.core.js"></script>
            <script src="/js/zafritech/project.js"></script>
        </th:block>
    
    </body>

</html>