<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/zid-admin-menu-detail">

    <head>
        <title>Zidingo PMS - Administration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">
            
<!--            <div class="content-heading bg-white">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="m0">Administration</h4>
                        <small>Configure this view and build your own Zidingo dashboard</small>
                    </div>
                </div>
            </div>-->

            <div class="row content">
                
                <div class="container container-md">
                   
                    <div class="col-md-12">

                        <div class="card">

                            <div class="card-heading bg-pink-500">
                                <div class="card-title">
                                    Administration
                                </div>
                            </div>
                            
                            <div class="card-body">
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/admin/companies" style="text-decoration: none;">
                                            <div class="card">
                                                <div class="card-heading bg-teal-500">
                                                    <div class="card-title">Organisations</div>
                                                </div>
                                                <div class="card-body">
                                                    <em class="ion-ios-briefcase icon-2x zid-header-menu" style="width: 48px; height: 48px; margin: 15px 20px 8px 0;"></em>
                                                    <div style="width: calc(100% - 65px); float: right;">Create, edit and view organisation information.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/admin/users" style="text-decoration: none;">
                                            <div class="card">
                                                <div class="card-heading bg-indigo-500">
                                                    <div class="card-title">Users</div>
                                                </div>
                                                <div class="card-body">
                                                    <em class="ion-person-stalker icon-2x zid-header-menu" style="width: 48px; height: 48px; margin: 15px 20px 8px 0;"></em>
                                                    <div style="width: calc(100% - 65px); float: right;">Application users info, roles and claims.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/admin/projects" style="text-decoration: none;">
                                            <div class="card">
                                                <div class="card-heading bg-blue-grey-500">
                                                    <div class="card-title">Projects</div>
                                                </div>
                                                <div class="card-body">
                                                    <em class="ion-ios-folder icon-2x zid-header-menu" style="width: 48px; height: 48px; margin: 15px 20px 8px 0;"></em>
                                                    <div style="width: calc(100% - 65px); float: right;">Create, edit and manage projects information.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="admin/messages" style="text-decoration: none;">
                                            <div class="card">
                                                <div class="card-heading bg-orange-800">
                                                    <div class="card-title">Messaging</div>
                                                </div>
                                                <div class="card-body">
                                                    <em class="ion-android-mail icon-2x zid-header-menu" style="width: 48px; height: 48px; margin: 15px 20px 8px 0;"></em>
                                                    <div style="width: calc(100% - 65px); float: right;">Message templates and global messages.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="admin/tasks" style="text-decoration: none;">
                                        <div class="card">
                                            <div class="card-heading bg-green-500">
                                                <div class="card-title">Tasks</div>
                                            </div>
                                            <div class="card-body">
                                                <em class="ion-wrench icon-2x zid-header-menu" style="width: 48px; height: 48px; margin: 15px 20px 8px 0;"></em>
                                                <div style="width: calc(100% - 65px); float: right;">Assign and manage user tasks.</div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="admin/reports" style="text-decoration: none;">
                                            <div class="card">
                                                <div class="card-heading bg-lime-900">
                                                    <div class="card-title">Reporting</div>
                                                </div>
                                                <div class="card-body">
                                                    <em class="ion-stats-bars icon-2x zid-header-menu" style="width: 48px; height: 48px; margin: 15px 20px 8px 0;"></em>
                                                    <div style="width: calc(100% - 65px); float: right;">Design, generate and distribute reports.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="admin/system/monitor" style="text-decoration: none;">
                                            <div class="card">
                                                <div class="card-heading bg-pink-500">
                                                    <div class="card-title">System Configuration</div>
                                                </div>
                                                <div class="card-body">
                                                    <em class="ion-android-options icon-2x zid-header-menu" style="width: 48px; height: 48px; margin: 15px 20px 8px 0;"></em>
                                                    <div style="width: calc(100% - 65px); float: right;">Configuration of application parameters.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="admin/system/monitor" style="text-decoration: none;">
                                            <div class="card">
                                                <div class="card-heading bg-pink-500">
                                                    <div class="card-title">System Monitoring</div>
                                                </div>
                                                <div class="card-body">
                                                    <em class="ion-ios-pulse-strong icon-2x zid-header-menu" style="width: 48px; height: 48px; margin: 15px 20px 8px 0;"></em>
                                                    <div style="width: calc(100% - 65px); float: right;">View application performance and logs.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                    
                </div>
                
            </div>
            
        </div>

    </body>

    <th:block layout:fragment="scripts"></th:block>

</html>