<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/master">

    <head>
        <title>Zidingo PMS - Document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">
            
            <div class="row content">
                
                <div class="container container-fluid">
                   
                    <div class="col-md-12">

                        <div class="card">
   
                            <!-- Modal Boxes Control -->
                            <input type="hidden" id="modalBusyControl" th:value="OFF" />
                            
                            <!-- Project/Document properties -->
                            <input type="hidden" id="projectId" th:value="${document.project.id}" />
                            <input type="hidden" id="commentsInline" th:value="${inlineComments}" />
                            
                            <!-- zTree navigation tags START -->
                            <input type="hidden" id="treeValid" th:value="${document.project.Id}" />
                            <input type="hidden" id="projectId" th:value="${document.project.Id}" />
                            <input type="hidden" id="nodeId" th:value="${document.folder.Id}" />
                            
                            <input type="hidden" id="docTreeValid" th:value="${document.Id}" />
                            <input type="hidden" id="documentId" th:value="${document.Id}" />
                            <input type="hidden" id="documentNodeId" th:value="${document.Id}" />
                            <input type="hidden" id="sectionId" th:value="0" />
                            <!-- zTree navigation tags END -->
                            
                            <input type="hidden" id="contentDescriptorCode" th:value="${descriptor}" />
                            
                            <div class="card-heading bg-white" th:classappend="'document-' + ${#strings.toLowerCase(document.status)}">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <span th:text="${document.identifier}"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <span th:if="${document.documentLongName != null}" th:text="${document.documentLongName} + ' '"></span>
                                            <span th:text="'(' + ${document.documentType.entityTypeCode} + ')'"></span>
                                        </div>
                                        <div class="col-md-3">
                                            
                                            <ul class="pull-right">
                                                
                                                <li class="dropdown" style="list-style-type: none; display: inline-block;">
                                                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="fa fa-file-text-o fa-fw"></em></button>
                                                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                                    <li th:if="${inlineComments == 'OFFLINE'}">
                                                        <a th:href="'/requirements/document/' + ${document.uuId} + '/INLINE'">
                                                            <em class="ion-chatbox-working icon-fw"></em> Comments Inline
                                                        </a>
                                                    </li>
                                                    <li th:if="${inlineComments == 'INLINE'}">
                                                        <a th:href="'/requirements/document/' + ${document.uuId} + '/OFFLINE'">
                                                            <em class="ion-chatbox icon-fw"></em> Comments Offline
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" th:onclick="'javascript:EditDocumentProperties(\'' + ${document.id} + '\');'">
                                                            <em class="ion-edit icon-fw"></em> Edit Properties
                                                        </a>
                                                    </li>
                                                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                                                        <a href="javascript:void(0);" th:onclick="'javascript:ClearDocumentContents(\'' + ${document.id} + '\');'">
                                                            <em class="ion-trash-b icon-fw"></em> Clear Contents
                                                        </a>
                                                    </li>
                                                    <li th:if="${document.baseLine == null}">
                                                        <a href="javascript:void(0);" th:onclick="'javascript:CreateDocumentBaseLine(\'' + ${document.id} + '\');'">
                                                            <em class="fa fa-tags fa-fw"></em> Create Baseline
                                                        </a>
                                                    </li>
                                                    <li role="presentation" class="divider"></li>
                                                    <li><a href="javascript:void(0);" th:onclick="'javascript:CloseDocument(\'' + ${document.id} + '\');'"><em class="ion-close icon-fw"></em> Close</a></li>
                                                  </ul>
                                                </li>
                                                
                                                <li class="dropdown" style="list-style-type: none; display: inline-block;">
                                                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="fa fa-user-plus fa-fw"></em></button>
                                                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                                                        <a href="javascript:void(0);" th:onclick="'javascript:UserAdminChangeDocumentOwner(\'' + ${document.project.uuId} + '\', \'' + ${document.uuId} + '\');'"><em class="ion-android-person icon-fw"></em> Change Author</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" th:onclick="'javascript:UserAddDocumentEditors(\'' + ${document.project.uuId} + '\', \'' + ${document.uuId} + '\');'">
                                                            <em class="ion-edit icon-fw"></em> Add Editors
                                                        </a>
                                                    </li>
                                                    <li th:if="${document.status.name() == 'REVIEW'}">
                                                        <a href="javascript:void(0);" th:onclick="'javascript:UserAddDocumentReviewers(\'' + ${document.project.uuId} + '\', \'' + ${document.uuId} + '\');'">
                                                            <em class="ion-chatbox icon-fw"></em> Add Reviers
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" th:onclick="'javascript:UserAddDocumentApprover(\'' + ${document.project.uuId} + '\', \'' + ${document.uuId} + '\');'">
                                                            <em class="ion-checkmark icon-fw"></em> Add Approver
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" th:onclick="'javascript:UserCreateDistributionList(\'' + ${document.project.uuId} + '\', \'' + ${document.uuId} + '\');'">
                                                            <em class="fa fa-users fa-fw"></em> Distribution List
                                                        </a>
                                                    </li>
                                                  </ul>
                                                </li>
                                                
                                                <li class="dropdown" style="list-style-type: none; display: inline-block;">
                                                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="fa fa-save fa-fw"></em></button>
                                                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                                    <li><a th:href="'/requirements/document/pdf/' + ${document.uuId}"><em class="fa fa-file-pdf-o fa-fw"></em> Save As PDF</a></li>
                                                    <li><a href="javascript:void(0);" th:onclick="'javascript:SaveAsTemplate(\'' + ${document.id} + '\', \'' + ${document.documentType.Id} + '\', \'DB\');'"><em class="fa fa-save fa-fw"></em> Save As Template ...</a></li>
                                                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                                                        <a href="javascript:void(0);" th:onclick="'javascript:SaveAsTemplate(\'' + ${document.id} + '\', \'' + ${document.documentType.Id} + '\', \'XML\');'"><em class="fa fa-file-code-o fa-fw"></em> Save XML Template ...</a>
                                                    </li>
                                                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                                                        <a href="javascript:void(0);" th:onclick="'javascript:SaveAsTemplate(\'' + ${document.id} + '\', \'' + ${document.documentType.Id} + '\', \'JSON\');'"><em class="fa fa-file-code-o fa-fw"></em> Save JSON Template ...</a>
                                                    </li>
                                                    <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="fa fa-registered fa-fw"></em> Save As ReqIF ...</a></li>
                                                  </ul>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-3">
                                            <span th:text="'Project ' + ${document.project.projectShortName}"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <span th:text="${document.project.projectNumber}"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <span th:text="${document.status} + ' ' + ${document.documentIssue}"></span>
                                        </div>
                                        <div class="col-md-3" style="text-align: right;">
                                            <span th:text="${#dates.format(document.creationDate, 'MMMM dd, yyyy')}"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <span th:text="${document.project.projectSponsor.companyName}"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <span th:text="${document.project.projectSponsor.contact.city}"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <span th:text="${document.infoClass.className}"></span>
                                        </div>
                                        <div class="col-md-3" style="text-align: right;">
                                            <span th:text="${document.owner.firstName} + ' ' + ${document.owner.lastName}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Document body-->
                            <div class="card-body">
                                <div layout:fragment="content-details" id="documentDetails">

                                    <!--Detail Content goes here!-->

                                </div>
                            </div>
                            
                            <!--Document footer--> 
                            <div class="card-footer" th:classappend="${document.baseLine != null} ? bg-green-500 : bg-white">
                                <div class="pull-right"><span th:text="${document.identifier}"></span></div>
                                <span th:if="${document.documentLongName != null}" th:text="${document.documentLongName} + ' '"></span>
                                <span th:text="'(' + ${document.documentType.entityTypeCode} + ')'"></span>
                            </div>
                            
                        </div>

                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        <th:block layout:fragment="scripts">
            <script src="/js/vendor/ztree/jquery.ztree.core.js"></script>
            <script src="/js/zafritech/project.js"></script>
            <script src="/js/zafritech/document.js"></script>
            <script src="/js/zafritech/requirements.js"></script>
        </th:block>

    </body>

</html>