<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/master">

    <head>
        <title>Zidingo PMS - Mailbox</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">
            
            <div class="row content">

                <div class="container container-fluid">

                    <div class="zid-container-maillist">
                        
                        <div class="card email-compose">

                            <div class="card-body">
                                <div class="bg-blue-grey-500" style="padding: 10px; margin-bottom: 15px;">
                                    <!-- START dropdown-->
                                    <div class="pull-right dropdown">
                                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-reply icon-fw"></em>Reply</a></li>
                                        <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-reply-all icon-fw"></em>Reply All</a></li>
                                        <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-forward icon-fw"></em>Forward</a></li>
                                        <li><a href="/messages"><em class="ion-close-circled icon-fw"></em>Close Message</a></li>
                                      </ul>
                                    </div>
                                    <!-- END dropdown-->
                                    <div>
                                        <span class="text-bold">Subject: </span>
                                        <span th:text="${message.message.subject}">Sender</span>
                                    </div>
                                    <div>
                                        <span class="text-bold">From: </span>
                                        <span th:if="${message.message.sender.lastName} != null" th:text="${message.message.sender.firstName} + ' ' + ${message.message.sender.lastName}">Sender</span>
                                        <span th:if="${message.message.sender.lastName} == null" th:text="${message.message.sender.firstName}">Sender</span>
                                    </div>
                                    <div>
                                        <span class="text-bold">Email: </span>
                                        <a href="#" th:text="${message.message.sender.email}" style="text-decoration: none; color: #64B5F6;">email</a>
                                    </div>
                                    <div>
                                        <span class="text-bold">Date: </span>
                                        <span th:text="${#dates.format(message.message.messageDate, 'MMM dd, yyyy HH:mm:ss')}">Date</span>
                                    </div>
                                </div>
                                <div th:utext="${message.message.message}">message</div>
                            </div>

                            <div class="card-footer bg-teal-200">
                                <p class="m-b-md">
                                    <h5><em class="ion-paperclip"></em> 3 attachments</h5>
                                    <a href="#" class="btn btn-success btn-md">Download all zip archive <i class="fa fa-file-zip-o"></i> </a>
                                </p>

                                <div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="hpanel">
                                                <div class="panel-body file-body">
                                                    <i class="fa fa-file-pdf-o text-info"></i>
                                                </div>
                                                <div class="panel-footer">
                                                    <a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'">Document_2016.doc</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="hpanel">
                                                <div class="panel-body file-body">
                                                    <i class="fa fa-file-audio-o text-warning"></i>
                                                </div>
                                                <div class="panel-footer">
                                                    <a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'">Audio_2016.doc</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="hpanel">
                                                <div class="panel-body file-body">
                                                    <i class="fa fa-file-excel-o text-success"></i>
                                                </div>
                                                <div class="panel-footer">
                                                    <a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'">Sheets_2016.doc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </body>

    <th:block layout:fragment="scripts"></th:block>

</html>