<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <body>
        
        <div th:fragment="header-nav">
            
            <header class="header-container">
                <nav>
                    <ul class="visible-xs visible-sm">
                        <li><a id="sidebar-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
                    </ul>
                    <ul class="hidden-xs">
                        <li><a id="offcanvas-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
                    </ul>
                    
                    <a href="/" class="header-logo" style="text-decoration: none;">
                        <img src="/images/logo_se.png" data-svg-replace="/images/logo_se.png" alt="Logo" />
                        <span class="header-logo-text">Zafritech SE</span>
                    </a>
                    
                    <ul class="pull-right" style="margin-right: 10px;">
                        <li>
                        	<a id="header-search" href="javascript:void(0);" th:onclick="'javascript:RequirementsSearch()'">
                        		<em class="ion-ios-search-strong"></em>
                       		</a>
                       	</li>
                       	<li class="dropdown">
                       		<a href="#" data-toggle="dropdown" class="dropdown-toggle has-badge ripple">
                        		<em class="ion-grid"></em>
                       		</a>
                       		<ul class="dropdown-menu dropdown-menu-right md-dropdown-menu">
                       			<li><a href="/app/requirements"><em class="ion-android-locate icon-fw zid-header-menu"></em>Requirements</a></li>
                                <li><a href="/app/integration"><em class="ion-ios-color-wand icon-fw zid-header-menu"></em>System Integration</a></li>
                       		</ul>
                       	</li>
                        <li id="userMessages" class="dropdown">
                        	<a href="#" data-toggle="dropdown" class="dropdown-toggle has-badge ripple">
                        		<em class="ion-ios-bell"></em>
                        		<sup class="badge bg-danger">10+</sup>
                       		</a>
                            <ul class="dropdown-menu dropdown-menu-right md-dropdown-menu">
                                <li><a href="/messages"><em class="ion-android-mail icon-fw zid-header-menu"></em>Messages</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-ios-bell icon-fw zid-header-menu"></em>Alerts</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-android-chat icon-fw zid-header-menu"></em>New Comments</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-wrench icon-fw zid-header-menu"></em>Tasks List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                        	<a href="#" data-toggle="dropdown" class="dropdown-toggle has-badge ripple">
                        		<em class="ion-person"></em>
                       		</a>
                            <ul class="dropdown-menu dropdown-menu-right md-dropdown-menu">
                                <li><a href="/profile"><em class="ion-person icon-fw zid-header-menu"></em>My Profile</a></li>
                                <li><a href="/dashboard"><em class="ion-ios-speedometer icon-fw zid-header-menu"></em>My Dashboard</a></li>
                                <li><a href="/tasks"><em class="ion-wrench icon-fw zid-header-menu"></em>My Tasks</a></li>
                                <li><a href="/messages"><em class="ion-ios-email icon-fw zid-header-menu"></em>My Messages</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href="/logout"><em class="ion-log-out icon-fw zid-header-menu"></em>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            
        </div>
       
    </body>
    
</html>