<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="pixeladmin/layouts/main-default">

    <head>
        <title>Zafritech SE - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <!-- Content -->
        <div layout:fragment="content" class="px-content">

            <div style="height:calc(100vh - 145px); overflow-x: hidden;; overflow-y: auto; padding-right: 15px;"> <!-- Scrolling area START -->

                <div class="page-header">
                    <h1 id="pagetitle">Zafritech SE - Home</h1>
                </div>

                <div class="row" style="margin-top:100px;">
                    
                    <div class="col-md-8">

                        <!--Panel START-->
                        <div class="panel panel-info panel-dark">
                            
                            <!--Panel HEADER-->
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-bar-chart"></i>Registered Projects</span>
                            </div>
                            
                            <!--Panel BODY-->
                            <div class="panel-body">

                                <div th:if="${project != null}">  <!-- project from GlobalController (@ControllerAdvice) -->
                                    
                                    <div class="col-md-6">
                                        <a th:href="'/projects/' + ${project.UuId}"><span th:text="${project.projectName}"></span></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a th:href="'/projects/' + ${project.UuId}"><span th:text="${project.projectCode}"></span></a>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="pull-right"><i class="panel-title-icon fa fa-unlock-alt text-primary"></i></span>
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                        <!--Panel END-->
                        
                    </div>
                    
                    <div class="col-md-4">
                       
                        <!--Panel START-->
                        <div class="panel panel-info panel-dark">
                            
                            <!--Panel HEADER-->
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-bar-chart"></i>Registered Projects</span>
                            </div>
                            
                            <!--Panel BODY-->
                            <div class="panel-body">
                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
            </div> <!-- Scrolling area END -->
            
        </div>

    </body>
</html>
