<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/master">

    <head>
        <title>Zidingo PMS - Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">
            
            <div class="container container-lg">
            
                <div class="card" id="details">
                    
                    <div class="card-heading bg-pink-500">
                        <!-- START dropdown-->
                        <div class="pull-right dropdown">
                            <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);"><em class="ion-plus icon-fw"></em>Create New</a></li>
                            </ul>
                        </div>
                        <!-- END dropdown-->
                        <div class="card-title">Organisations</div>
                    </div>

                    <div class="card-body">
                        
                        <table th:if="${!companies.isEmpty()}" class="table table-striped table-bordered table-hover">
                            
                            <thead>
                                <tr>
                                    <th style="width: 30%;">Organisation Name</th>
                                    <th style="width: 15%;">Role</th>
                                    <th>Contacts</th>
                                    <th style="width: 20%;">Country</th>
                                    <th style="width: 60px; text-align: center;">Contacts</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr th:each="company : ${companies}">
                                    <td>
                                        <a th:href="@{/admin/companies/} + ${company.uuId}">
                                            <span th:text="${company.companyName}">Organisation Name</span>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/companies/} + ${company.uuId}">
                                            <span th:text="${#strings.replace(company.companyRole, '_ORGANISATION', '')}">Company Role</span>
                                        </a>
                                    </td>
                                    <td th:text="${company.contact.email != null ? company.contact.email : ''}">Role Description</td>
                                    <td>
                                        <div th:if="${company.contact != null}" >
                                            <span th:text="${company.contact.country != null ? company.contact.country.countryName : ''}">City</span>
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <a th:if="${company.contact != null}" href="javascript:void(0);" th:onclick="'javascript:CompanyContactsView(\'' + ${company.uuId} + '\', \'' + ${company.companyShortName} + '\');'">
                                            <em class="ion-link icon-18"></em>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>

                    <div class="card-footer">
                        
                        <span th:utext="'&lt;strong&gt;' + ${coCount} + '&lt;/strong&gt; Organisations, Page &lt;strong&gt;' + ${page} + '&lt;/strong&gt; of &lt;strong&gt;' + ${count} + '&lt;/strong&gt;'">Page # of ##</span>     
                        <span class="pull-right">
                            <ul class="pagination pagination-sm" style="margin-top: 0px;">
                                <li th:class="${page == 1} ? 'disabled' : ''">
                                    <span th:if="${page == 1}">First</span>
                                    <a th:if="${page != 1}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=1'}">First</a>
                                </li>
                                <li th:class="${page != 1} ? '' : 'disabled'">
                                    <span th:if="${page == 1}">«</span>
                                    <a th:if="${page != 1}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=' + ${page - 1}}"><span>«</span></a>
                                </li>

                                <li th:each="p : ${list}" th:class="${p == page ? 'active' : ''}">
                                    <span th:if="${p == page}" th:text="${page}">1</span>
                                    <a th:if="${p != page}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=' + ${p}}" th:text="${p}">1</a>
                                </li>

                                <li th:if="${count > last}" class="disabled"><span>...</span></li>

                                <li th:class="${page == count} ? 'disabled' : ''">
                                    <span th:if="${page == count}">»</span>
                                    <a th:if="${page != count}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=' + ${page + 1}}">»</a>
                                </li>
                                <li th:class="${page == count} ? 'disabled' : ''">
                                    <span th:if="${page == count}">Last</span>
                                    <a th:if="${page != count}" th:href="@{'/admin/companies?s=' + ${size} + '&amp;p=' + ${count}}">Last</a>
                                </li>
                            </ul>
                        </span>
                        
                    </div>

                </div>
                
            </div>
            
        </div>
        
        <th:block layout:fragment="scripts">
            <script src="/js/zafritech/company.js"></script>
        </th:block>

    </body>

</html>