<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/master">

    <head>
        <title>Zidingo PMS - Organisation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">
            
            <div class="row content">
                
                <div class="container container-lg">
                
                    <div class="col-md-12">

                        <div class="card">
                            
                            <div class="card-heading bg-pink-500">
                                <!-- START dropdown-->
                                <div class="pull-right dropdown">
                                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);"><em class="ion-edit icon-fw"></em>Edit Profile</a></li>
                                    <li><a href="javascript:void(0);"><em class="ion-ios-camera icon-fw"></em>Profile Picture</a></li>
                                    <li><a href="javascript:void(0);"><em class="ion-key icon-fw"></em>Change Password</a></li>
                                  </ul>
                                </div>
                                <!-- END dropdown-->
                                <div class="card-title">Organisation Information</div>
                            </div>

                            <div class="card-body" style="padding-bottom: 0px;">
                                
                                <form method="post" action="/" class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="input-id-1" class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-4">
                                                <input id="input-id-1" type="text" class="form-control" th:value="${company.companyName}"/>
                                            </div>
                                            <label for="input-id-1" class="col-sm-2 control-label">Role</label>
                                            <div class="col-sm-3">
                                                <input id="input-id-1" type="text" class="form-control" th:value="${#strings.capitalize(#strings.substringBefore(company.companyRole, '_').toLowerCase())}" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="input-id-1" class="col-sm-2 control-label">Address</label>
                                            <div class="col-sm-9">
                                                <input id="input-id-1" type="text" class="form-control" th:value="${company.contact.address}" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="input-id-1" class="col-sm-2 control-label">City</label>
                                            <div class="col-sm-3">
                                                <input id="input-id-1" type="text" class="form-control" th:value="${company.contact.city}" />
                                            </div>
                                            <label for="input-id-1" class="col-sm-1 control-label">State</label>
                                            <div class="col-sm-3">
                                                <input id="input-id-1" type="text" class="form-control" th:value="${company.contact.state}" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="input-id-1" class="col-sm-2 control-label">Country</label>
                                            <div class="col-sm-3">
                                                <input id="input-id-1" type="text" class="form-control" th:value="${company.contact.country.countryName}" />
                                            </div>
                                            <label for="input-id-1" class="col-sm-1 control-label">Postcode</label>
                                            <div class="col-sm-2">
                                                <input id="input-id-1" type="text" class="form-control" th:value="${company.contact.postCode}" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="input-id-1" class="col-sm-2 control-label">Telephone</label>
                                            <div class="col-sm-3">
                                                <input id="input-id-1" type="text" class="form-control" th:value="${company.contact.phone}" />
                                            </div>
                                            <label for="input-id-1" class="col-sm-1 control-label">Mobile</label>
                                            <div class="col-sm-3">
                                                <input id="input-id-1" type="text" class="form-control" th:value="${company.contact.mobile}" />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="input-id-1" class="col-sm-2 control-label">Notes</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" cols="115" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="input-id-1" class="col-sm-2 control-label">Logo</label>
                                            <div class="col-sm-4">
                                                <input type="file" id="selectedFile" style="display: none;" onchange="onLogoFileSelect();" />
                                                <input type="text" id="selectedFileRepeater" class="form-control" />
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="button" value="Browse..." onclick="document.getElementById('selectedFile').click();"  class="btn btn-primary btn-fixed-width-100" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                
                            </div>
                        </div>

                    </div>

                </div>
                
            </div>
            
        </div>
       
        <th:block layout:fragment="scripts">
            <script src="/js/zafritech/company.js"></script>
        </th:block>
    </body>

</html>