<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="pixeladmin/layouts/main-default">

    <head>
        <title>Zafritech SE - Requirements</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <!-- Content -->
        <div layout:fragment="content" class="px-content">

            <!-- Modal Boxes Control -->
            <input type="hidden" id="modalBusyControl" th:value="OFF" />

            <!-- Project/Document properties -->
            <input type="hidden" id="projectId" th:value="${document.project.id}" />
            <input type="hidden" id="commentsInline" th:value="${inlineComments}" />

            <!-- zTree navigation tags START -->
            <input type="hidden" id="treeValid" th:value="${document.project.Id}" />
            <input type="hidden" id="projectId" th:value="${document.project.Id}" />
            <input type="hidden" id="nodeId" th:value="${document.folder.Id}" />

            <input type="hidden" id="docTreeValid" th:value="${document.Id}" />
            <input type="hidden" id="documentId" th:value="${document.Id}" />
            <input type="hidden" id="documentNodeId" th:value="${document.Id}" />
            <input type="hidden" id="sectionId" th:value="0" />
            <!-- zTree navigation tags END -->

            <input type="hidden" id="contentDescriptorCode" th:value="${descriptor}" />

            <div class="page-header">
                <h1 id="pagetitle" th:text="'Requirements Management - ' + ${project.projectName}">Systems Integration</h1>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="border-radius: 2px;">
                            Requirements
                        </button>
                        <div class="dropdown-backdrop"></div>
                        <ul class="dropdown-menu pull-left" style="right: 0; left: auto; border-radius: 2px;">
                            <li th:if="${usersession.hasOpenProject}">
                                <a href="#">
                                    <i class="fa fa-plus m-r-1"></i>Add New Entity
                                </a>
                            </li>
                            <li th:if="${usersession.hasOpenProject}">
                                <a href="#">
                                    <i class="fa fa-plus m-r-1"></i>Add Document
                                </a>
                            </li>
                            <li th:if="${usersession.hasOpenProject}">
                                <a href="#">
                                    <i class="fa fa-file-excel-o m-r-1 text-success"></i>Download Spreadsheet
                                </a>
                            </li>
                            <li th:if="${usersession.hasOpenProject}">
                                <a href="#">
                                    <i class="fa fa-file-pdf-o m-r-1 text-warning"></i>Download PDF Report
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info panel-dark">
                        
                        <div class="panel-heading">
                            <span class="panel-title"><i class="panel-title-icon fa fa-sitemap"></i>System Breakdown Structure</span>
                            <div class="panel-heading-controls">
                                <div class="btn-group btn-group-xs">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border-radius: 2px;">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="/app/integration/interfaces/download"><i class="fa fa-plus m-r-1"></i>Add New Entity</a></li>
                                        <li><a href="/app/integration/interfaces/download"><i class="fa fa-file-excel-o m-r-1"></i>Download Spreadsheet</a></li>
                                        <li><a href="/app/integration/interfaces/pdf"><i class="fa fa-file-pdf-o m-r-1"></i>Download PDF Report</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/"><i class="fa fa-refresh m-r-1"></i>Refresh</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel-body">
                            <div style="height:calc(100vh - 290px); overflow: auto;">
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>

    </body>
</html>

