<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>Zidingo PMS - Document Items</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div th:fragment="content-details">
          
            <!-- START Document detailed data-->
            <div th:if="${items.isEmpty()}">
                <!-- START dropdown-->
                <div class="pull-right dropdown">
                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:void(0);" th:onclick="'javascript:RequirementItemCreateItem(\'' + ${document.id} + '\',\'\',\'1\');'"><em class="ion-plus icon-fw"></em>New Item</a></li>
                    <li><a href="javascript:void(0);" th:onclick="'javascript:ImportFromTemplate(\'' + ${document.id} + '\',\'' + ${document.documentType.id} + '\');'"><em class="ion-android-list icon-fw"></em>Import Template</a></li>
                    <li><a href="javascript:void(0);" th:onclick="'javascript:ImportFromExcel(\'' + ${document.id} + '\');'"><em class="ion-ios-grid-view-outline icon-fw"></em>Import Excel</a></li>
                  </ul>
                </div>
                <!-- END dropdown-->
                <div class="card-title">This document is empty.</div>
            </div>
            
            <div th:if="${!items.isEmpty()}">
                <div th:each="item : ${items}"
                     th:attr="id=${item.systemId}"
                     th:classappend="${item.itemClass == 'HEADER'} ? 'row item-header-' + ${item.itemLevel} : 'row item-level-' + ${item.itemLevel} + ' ' + ${#strings.toLowerCase(item.itemClass)}">

                    <div th:if="${item.itemClass == 'HEADER'}" class="col-md-11">
                        <div th:if="${item.itemNumber != null}">
                            <div th:utext="${item.itemNumber}" class="header-number"></div>
                            <div th:attr="id=${'header' + item.id}" th:utext="${item.itemValue}" class="header-value-numbered"></div>
                        </div>
                        <div th:if="${item.itemNumber == null}">
                            <div th:attr="id=${'header' + item.id}" th:utext="${item.itemValue}" class="header-value-nonumber"></div>
                        </div>
                    </div>

                    <div th:if="${item.itemClass == 'REQUIREMENT'}" class="col-md-11">
                        <div th:classappend="'requirement-container-' + ${#strings.toLowerCase(#strings.replace(item.itemStatus, 'ITEM_STATUS_', ''))}">
                            <div th:attr="id=${'identifier' + item.id}" th:utext="${item.identifier}" class="requirement-identifier" style="width:100%"></div>
                            <div class="requirement-notices">
                                <em th:if="${!item.inLinks.isEmpty()}" class="ion-arrow-left-b icon-fw incoming-link"></em>
                                <em th:if="${!item.outLinks.isEmpty()}" class="ion-arrow-right-b icon-fw outgoing-link"></em>
                                <em th:if="${item.itemVersion > 1}" class="ion-android-alarm-clock icon-fw item-history"></em>
                                <em th:if="${!item.comments.isEmpty()}" class="ion-android-chat icon-fw chat-box"></em>
                            </div>
                            <div th:attr="id=${'requirement' + item.id}" class="requirement-text" th:utext="${item.itemValue}"></div>
                            <div th:if="${item.document.status.name() == 'REVIEW'} and ${!item.comments.isEmpty()}" class="requirement-comments">
                                <div class="requirement-comments-header">Comments:</div>
                                <div th:each="comment : ${item.comments}" style="margin-top: 10px;">
                                    <div class="requirement-comment-date" th:text="${#dates.format(comment.creationDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                                    <div style="margin-left: 15px; display: inline-block;" th:text="${comment.author.firstName} + ' ' + ${comment.author.lastName}"></div>
                                    <div style="color: #d84315;" th:utext="${comment.comment}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div th:if="${item.itemClass == 'METADATA'}" class="col-md-11" style="padding-left: 99px;">
                        
                        <div th:if="${item.mediaType.name() == 'REFERENCES'}" class="references">
                            
                            <table th:if="${item.itemValue == 'REFERENCE_APPLICABLE'}" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 80px; text-align: center;">Ref Id</th>
                                        <th style="width: 200px;">Identifier</th>
                                        <th>Reference Title</th>
                                        <th style="width: 80px; text-align: center;">Revision</th>
                                    </tr>
                                </thead>
                                <tbody th:if="${!applicables.isEmpty()}">
                                    <tr th:each="ref : ${applicables}">
                                        <td style="text-align: center;"><span th:text="${ref.docRefId}">#</span></td>
                                        <td><span th:text="${ref.reference.refNumber}">Identifier</span></td>
                                        <td><span th:text="${ref.reference.refTitle}">Title</span></td>
                                        <td style="text-align: center;"><span th:text="${ref.reference.refVersion}">Revision</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <table th:if="${item.itemValue == 'REFERENCE_REFERENCED'}" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 80px; text-align: center;">Ref Id</th>
                                        <th style="width: 200px;">Identifier</th>
                                        <th>Reference Title</th>
                                        <th style="width: 80px; text-align: center;">Revision</th>
                                    </tr>
                                </thead>
                                <tbody th:if="${!referenced.isEmpty()}">
                                    <tr th:each="ref : ${referenced}">
                                        <td style="text-align: center;"><span th:text="${ref.docRefId}">#</span></td>
                                        <td><span th:text="${ref.reference.refNumber}">Identifier</span></td>
                                        <td><span th:text="${ref.reference.refTitle}">Title</span></td>
                                        <td style="text-align: center;"><span th:text="${ref.reference.refVersion}">Revision</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        
                        <table th:if="${item.mediaType.name() == 'ACRONYMS_ABBREVIATIONS'}" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 120px;">Abbreviation/Acronym</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody th:if="${!document.definitions.isEmpty()}">
                                <tr th:each="definition : ${document.definitions}" 
                                    th:if="${definition.definitionType.name() == 'ABBREVIATION'} or ${definition.definitionType.name() == 'ACRONYM'}">
                                    <td style="vertical-align: top;"><span th:text="${definition.term}">Abbreviation/Acronym</span></td>
                                    <td style="vertical-align: top;"><span th:text="${definition.termDefinition}">Description</span></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <table th:if="${item.mediaType.name() == 'ABBREVIATIONS'}" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 120px;">Abbreviation</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody th:if="${!document.definitions.isEmpty()}">
                                <tr th:each="abbreviation : ${document.definitions}" th:if="${abbreviation.definitionType.name() == 'ABBREVIATION'}">
                                    <td style="vertical-align: top;"><span th:text="${abbreviation.term}">Abbreviation</span></td>
                                    <td style="vertical-align: top;"><span th:text="${abbreviation.termDefinition}">Description</span></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <table th:if="${item.mediaType.name() == 'ACRONYMS'}" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 120px;">Acronym</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody th:if="${!document.definitions.isEmpty()}">
                                <tr th:each="acronym : ${document.definitions}" 
                                    th:if="${acronym.definitionType.name() == 'ACRONYM'}">
                                    <td style="vertical-align: top;"><span th:text="${acronym.term}">Acronym</span></td>
                                    <td style="vertical-align: top;"><span th:text="${acronym.termDefinition}">Description</span></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <table th:if="${item.mediaType.name() == 'DEFINITIONS'}" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 200px;">Term</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody th:if="${!document.definitions.isEmpty()}">
                                <tr th:each="definition : ${document.definitions}" 
                                    th:if="${definition.definitionType.name() == 'DEFINITION'}">
                                    <td style="vertical-align: top;"><span th:text="${definition.term}" style="font-weight:bold;">Definition</span></td>
                                    <td style="vertical-align: top;"><span th:text="${definition.termDefinition}">Description</span></td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    
                    <div th:if="${item.itemClass == 'IMAGE'}" class="col-md-11" style="padding-left: 99px;">
                        
                        <img th:attr="src=${'/images/' + item.itemValue}" class="img-responsive" />
                        <div th:if="${item.itemCaption != null}" th:text="${item.itemCaption}" class="caption">Caption</div>
                        
                    </div>

                    <div th:if="${item.itemClass != 'HEADER' and 
                         item.itemClass != 'REQUIREMENT' and 
                         item.itemClass != 'METADATA' and 
                         item.itemClass != 'IMAGE'}" class="col-md-11">
                        
                        <div class="plain-text-nonumber">
                            <div th:attr="id=${'text' + item.id}" th:utext="${item.itemValue}"></div>
                        </div>
                        
                    </div>

                    <div class="col-md-1">

                        <div class="pull-right dropdown">
                          <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                          <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                            <li th:if="${item.itemClass == 'HEADER'}">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemCreateItem(\'' + ${item.document.id} + '\',\'' + ${item.parent != null ? item.parent.id : ''} + '\',\'' + ${item.itemLevel} + '\');'">
                                    <em class="ion-plus icon-fw"></em>Insert Sibling Item
                                </a>
                            </li>
                            <li th:if="${item.itemClass == 'HEADER'}">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemCreateItem(\'' + ${item.document.id} + '\',\'' + ${item.id} + '\',\'' + ${item.itemLevel + 1} + '\');'">
                                    <em class="ion-plus icon-fw"></em>Insert Child Item
                                </a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')" th:if="${item.itemClass == 'HEADER'}">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementGenerateLoremIpsum(\'' + ${item.document.id} + '\',\'' + ${item.id} + '\',\'' + ${item.itemLevel + 1} + '\');'">
                                    <em class="ion-ios-list icon-fw"></em>Lorem Ipsum
                                </a>
                            </li>
                            <li th:if="${item.mediaType.name()} == 'REFERENCES'">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemAddReference(\'' + ${item.document.id} + '\',\'' + ${item.id} + '\',\'' + ${item.itemValue} + '\');'">
                                    <em class="ion-plus icon-fw"></em>Add Reference
                                </a>
                            </li>
                            <li th:if="${item.mediaType.name()} == 'ACRONYMS_ABBREVIATIONS'">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemAddDefinition(\'' + ${item.document.id} + '\',\'' + ${item.id} + '\',\'' + ${item.mediaType.name()} + '\');'">
                                    <em class="ion-plus icon-fw"></em>Add Acronym/Abbrev
                                </a>
                            </li>
                            <li th:if="${item.mediaType.name()} == 'ABBREVIATIONS'">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemAddDefinition(\'' + ${item.document.id} + '\',\'' + ${item.id} + '\',\'' + ${item.mediaType.name()} + '\');'">
                                    <em class="ion-plus icon-fw"></em>Add Abbreviation
                                </a>
                            </li>
                            <li th:if="${item.mediaType.name()} == 'ACRONYMS'">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemAddDefinition(\'' + ${item.document.id} + '\',\'' + ${item.id} + '\',\'' + ${item.mediaType.name()} + '\');'">
                                    <em class="ion-plus icon-fw"></em>Add Acronym
                                </a>
                            </li>
                            <li th:if="${item.mediaType.name()} == 'DEFINITIONS'">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemAddDefinition(\'' + ${item.document.id} + '\',\'' + ${item.id} + '\',\'' + ${item.mediaType.name()} + '\');'">
                                    <em class="ion-plus icon-fw"></em>Add Definition
                                </a>
                            </li>
                            <li th:if="${item.itemClass} == 'IMAGE'">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemAddCaption(\'' + ${item.document.id} + '\',\'' + ${item.id} + '\',\'' + ${item.mediaType.name()} + '\');'">
                                    <em class="ion-plus icon-fw"></em>Add Caption
                                </a>
                            </li>
                            <li th:if="${item.itemClass} == 'REQUIREMENT'">
                                <a href="javascript:void(0);" th:onclick="'javascript:loadRequirementsSingleItem(\'' + ${item.id} + '\');'">
                                    <em class="ion-android-list icon-fw"></em>Item Details
                                </a>
                            </li>
                            <li><a href="javascript:void(0);" th:onclick="'javascript:RequirementBaselinedEditCheck(\'' + ${item.id} + '\');'"><em class="ion-edit icon-fw"></em>Edit Item</a></li>
                            <li th:if="${item.itemLevel} > 1">
                                <a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'">
                                    <em class="ion-arrow-return-left icon-fw"></em>Move to Parent
                                </a>
                            </li>
                            <li><a href="javascript:void(0);" th:onclick="'javascript:RequirementItemMoveItem(\'' + ${item.id} + '\',\'UP\');'"><em class="ion-arrow-up-a icon-fw"></em>Move Item Up</a></li>
                            <li><a href="javascript:void(0);" th:onclick="'javascript:RequirementItemMoveItem(\'' + ${item.id} + '\',\'DOWN\');'"><em class="ion-arrow-down-a icon-fw"></em>Move Item Down</a></li>
                            <li th:if="${!item.outLinks.isEmpty()}">
                                <a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'">
                                    <em class="ion-link icon-fw"></em>Edit Link(s)
                                </a>
                            </li>
                            <li th:if="${item.itemClass} == 'REQUIREMENT'">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemLinkCreate(\'' + ${item.id} + '\');'">
                                    <em class="ion-link icon-fw"></em>Create Link
                                </a>
                            </li>
                            <li th:if="${item.itemClass == 'REQUIREMENT'} and ${item.document.status.name() == 'REVIEW'}">
                                <a href="javascript:void(0);" th:onclick="'javascript:RequirementItemCommentCreate(\'' + ${item.id} + '\');'">
                                    <em class="ion-chatbox icon-fw"></em>Comment
                                </a>
                            </li>
                            <li><a href="javascript:void(0);" th:onclick="'javascript:RequirementItemDelete(\'' + ${item.id} + '\',\'' + ${item.systemId} + '\');'"><em class="ion-trash-a icon-fw"></em>Delete Item</a></li>
                          </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END Document detailed data-->

        </div>
        
        <th:block layout:fragment="scripts"></th:block>

    </body>

</html>