<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>Zidingo PMS - Document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>
        
        <div th:fragment="content-item-details">
            
            <!--Requirement-->
            <div class="card" th:if="${item != null}">
                <div class="card-heading bg-blue-grey-500">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="javascript:void(0);" th:onclick="'javascript:RequirementBaselinedEditCheck(\'' + ${item.id} + '\')'">
                                <em class="ion-edit icon-fw"></em>Edit Requirement
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" th:onclick="'javascript:RequirementVerificationMethod(\'' + ${item.id} + '\')'">
                                <em class="ion-checkmark icon-fw"></em>Verification
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" th:onclick="'javascript:loadRequirementsSingleItem(\'' + ${item.id} + '\')'">
                                <em class="ion-android-refresh icon-fw"></em>Refresh
                            </a>
                        </li>
                      </ul>
                    </div>
                    <!-- END dropdown-->
                    <div class="card-title">REQUIREMENT</div>
                </div>
                
                <div class="card-body" style="padding-bottom: 0px;">
                    <div th:text="${item.identifier}" class="requirement-identifier" style="margin-left: -1px; margin-bottom: 10px; width: 100%"></div>
                    <div style="margin-bottom: 10px;">
                        <span th:utext="${item.itemValue}"></span>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-3">
                            <span th:utext="'&lt;b&gt;System ID:&lt;/b&gt; ' + ${item.systemId}"></span>
                        </div>
                        <div class="col-md-3">
                            <span th:utext="'&lt;b&gt;Type:&lt;/b&gt; ' + ${item.itemType.entityTypeName}"></span>
                        </div>
                        <div class="col-md-3">
                            <span th:utext="'&lt;b&gt;Status:&lt;/b&gt; ' + ${#strings.replace(item.itemStatus, 'ITEM_STATUS_', '')}"></span>
                        </div>
                        <div class="col-md-3">
                            <span th:utext="'&lt;b&gt;Created:&lt;/b&gt; ' + ${#dates.format(item.creationDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-4">
                            <span th:utext="'&lt;b&gt;Verification Method:&lt;/b&gt; ' + ${item.verificationMethod != null ? item.verificationMethod.entityTypeName : 'UNDEFINED'}"></span>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
            
            <!--Links-->
            <div class="card" th:if="${!item.inLinks.isEmpty()} or ${!item.outLinks.isEmpty()}">
                <div class="card-heading bg-blue-grey-500">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="javascript:void(0);" th:onclick="'javascript:RequirementBaselinedEditCheck(\'' + ${item.id} + '\')'">
                                <em class="ion-edit icon-fw"></em>Edit Requirement
                            </a>
                        </li>
                      </ul>
                    </div>
                    <!-- END dropdown-->
                    <div class="card-title">LINKS</div>
                </div>
                
                <div class="card-body" style="padding-bottom: 0px;">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 200px; text-align: left;">Source/Destination Reference</th>
                                <th>Source/Destination Requirement Details</th>
                                <th style="width: 140px; text-align: left;">Link Type</th>
                                <th style="width: 80px;">Direction</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Incoming links-->
                            <tr th:if="${!item.outLinks.isEmpty()}" th:each="link : ${item.outLinks}">
                                <td style="text-align: left; vertical-align: top;">
                                    <div th:text="${link.dstDocument.identifier}" style="margin-bottom: 5px; font-weight: bold;"></div>
                                    <div th:text="${link.dstDocument.documentLongName}"></div>
                                </td>
                                <td style="text-align: left; vertical-align: top;">
                                    <div th:text="${link.dstItem.identifier}" class="requirement-identifier" style="margin-left: -1px;"></div>
                                    <div th:utext="${link.dstItem.itemValue}"></div>
                                </td>
                                <td style="text-align: left; vertical-align: top;">
                                    <span th:text="${link.linkType.entityTypeName}"></span>
                                </td>
                                <td style="text-align: left; vertical-align: top;">
                                    <span>OUT <em class="ion-arrow-right-b icon-fw outgoing-link"></em></span>
                                </td>
                            </tr>
                            <!--Outgoing links-->
                            <tr th:if="${!item.inLinks.isEmpty()}" th:each="link : ${item.inLinks}">
                                <td style="text-align: left; vertical-align: top;">
                                    <div th:text="${link.srcDocument.identifier}" style="margin-bottom: 5px; font-weight: bold;"></div>
                                    <div th:text="${link.srcDocument.documentLongName}"></div>
                                </td>
                                <td style="text-align: left; vertical-align: top;">
                                    <div th:text="${link.srcItem.identifier}" class="requirement-identifier" style="margin-left: -1px;"></div>
                                    <div th:utext="${link.srcItem.itemValue}"></div>
                                </td>
                                <td style="text-align: left; vertical-align: top;">
                                    <span th:text="${link.linkType.entityTypeName}"></span>
                                </td>
                                <td style="text-align: left; vertical-align: top;">
                                    <span>IN <em class="ion-arrow-left-b icon-fw incoming-link"></em></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!--Comments-->
            <div class="card" th:if="${!item.comments.isEmpty()}">
                <div class="card-heading bg-blue-grey-500">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="javascript:void(0);" th:onclick="'javascript:RequirementBaselinedEditCheck(\'' + ${item.id} + '\')'">
                                <em class="ion-edit icon-fw"></em>Edit Requirement
                            </a>
                        </li>
                      </ul>
                    </div>
                    <!-- END dropdown-->
                    <div class="card-title">COMMENTS</div>
                </div>
                
                <div class="card-body" style="padding-bottom: 0px;">
                    <div th:each="comment : ${item.comments}" style="margin: 10px 0;">
                        <div class="requirement-comment-date" th:text="${#dates.format(comment.creationDate, 'yyyy-MM-dd HH:mm:ss')}" style="margin-bottom: 5px;"></div>
                        <div style="margin-left: 15px; display: inline-block;" th:text="${comment.author.firstName} + ' ' + ${comment.author.lastName} + ' commented.'"></div>
                        <div style="color: #d84315;" th:utext="${comment.comment}"></div>
                    </div>
                </div>
            </div>
            
            <!--History-->
            <div class="card" th:if="${!history.isEmpty()}">
                <div class="card-heading bg-blue-grey-500">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="javascript:void(0);" th:onclick="'javascript:RequirementBaselinedEditCheck(\'' + ${item.id} + '\')'">
                                <em class="ion-edit icon-fw"></em>Edit Requirement
                            </a>
                        </li>
                      </ul>
                    </div>
                    <!-- END dropdown-->
                    <div class="card-title">HISTORY</div>
                </div>
                
                <div class="card-body" style="padding-bottom: 0px;">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 150px; text-align: left;">Change Date</th>
                                <th>Requirement Details</th>
                                <th style="width: 60px; text-align: center;">Version</th>
                                <th style="width: 200px;">Baseline</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="hist : ${history}">
                                <td style="text-align: left; vertical-align: top;">
                                    <span th:text="${#dates.format(hist.creationDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                </td>
                                <td style="text-align: left; vertical-align: top;">
                                    <span th:utext="${hist.itemValue}"></span>
                                </td>
                                <td style="text-align: center; vertical-align: top;">
                                    <span th:utext="${hist.itemVersion}"></span>
                                </td>
                                <td style="text-align: left; vertical-align: top;">
                                    <span th:utext="${#dates.format(hist.baseLine.creationDate, 'yyyy-MM-dd HH:mm:ss')} + '&lt;br/&gt;' + ${hist.baseLine.name}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        
    </body>
    
</html>