<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <body>

        <div layout:fragment="content">
            
            <div class="container container-lg">

                <div class="card" id="details">
                    
                    <div class="card-heading bg-blue-grey-500">
                        <!-- START dropdown-->
                        <div class="pull-right dropdown">
                            <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-edit icon-fw"></em>Edit Interface</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:IntegrationInterfaceIssueCreate(\'' + ${interface.id} + '\');'"><em class="ion-plus icon-fw"></em>Add Issue</a></li>
                            </ul>
                        </div>
                        <!-- END dropdown-->
                        <div class="card-title" style="font-weight: bold;" th:text="${interface.systemId + ' - ' + interface.interfaceTitle}">Entity Name</div>
                    </div>
                    
                    <div class="card-body">
                        
                        <div class="row" style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ddd;">
                            <div class="col-md-6">
                                <a href="javascript:void(0);" th:onclick="'javascript:loadElementInterfaces(\'' + ${interface.primaryElement.Id} + '\');'">
                                    <em class="ion-arrow-left-a icon-fw"></em>
                                    <span th:text="${'Back to ' + interface.primaryElement.name + ' interfaces'}">Back</span> 
                                </a>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <div class="row">
                            
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover">
                                    <tr>
                                        <td style="width: 160px; font-weight: bold;">Interface Description:</td>
                                        <td colspan="3"><span th:text="${interface.interfaceDescription}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 160px; font-weight: bold;">Interface Notes:</td>
                                        <td colspan="3">
                                            <span th:if="${!#strings.isEmpty(interface.interfaceNotes)}" th:text="${interface.interfaceNotes}"></span>
                                            <span th:if="${#strings.isEmpty(interface.interfaceNotes)}" style="color: #f33123;">No notes found for interface.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 160px; font-weight: bold;">Primary Entity:</td>
                                        <td><span th:text="${interface.primaryElement.entity.name}"></span></td>
                                        <td style="width: 120px; font-weight: bold;">Secondary Entity:</td>
                                        <td><span th:text="${interface.secondaryElement.entity.name}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 160px; font-weight: bold;">Interface Level:</td>
                                        <td><span th:text="'Level ' + ${interface.interfaceLevel}"></span></td>
                                        <td style="width: 160px; font-weight: bold;">Status:</td>
                                        <td><span th:text="${#strings.replace(interface.status, 'INTERFACE_STATUS_', '')}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 160px; font-weight: bold;">Interface Type(s):</td>
                                        <td>
                                            <div th:each="type : ${interface.interfaceTypes}" >
                                                <span th:text="${type.typeName}"></span>
                                            </div>
                                            <div th:if="${interface.interfaceTypes.isEmpty()}" style="color: #f33123;">Not defined.</div>
                                        </td>
                                        <td style="width: 160px; font-weight: bold;">References:</td>
                                        <td>
                                            <div th:each="reference : ${interface.references}" >
                                                <span th:text="${reference.number}"></span>
                                            </div>
                                            <div th:if="${interface.references.isEmpty()}" style="color: #f33123;">No references found.</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                    
                    <div th:if="${#lists.size(interface.issues) > 0}" class="card-heading bg-blue-grey-500">
                        <!-- START dropdown-->
                        <div class="pull-right dropdown">
                            <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                            <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-edit icon-fw"></em>Edit Interface</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-plus icon-fw"></em>Add Issue</a></li>
                            </ul>
                        </div>
                        <!-- END dropdown-->
                        <div class="card-title">Interface Issues</div>
                    </div>
                    
                    <div th:if="${#lists.size(interface.issues) > 0}" class="card-body">
                        
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 140px;">Issue ID</th>
                                    <th>Issue Title and Description</th>
                                    <th style="width: 100px; text-align: center;">Created</th>
                                    <th style="width: 100px; text-align: center;">Updated</th>
                                    <th style="width: 100px; text-align: center;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="issue : ${interface.issues}">
                                    <td style="text-align: left; vertical-align: top;">
                                        <a href="javascript:void(0);" th:onclick="'javascript:loadInterfaceIssue(\'' + ${issue.Id} + '\');'">
                                            <span th:text="${issue.systemId}"></span>
                                        </a>
                                    </td>
                                    <td style="text-align: left; vertical-align: top;">
                                        <div style="margin-bottom: 5px;">
                                            <a href="javascript:void(0);" th:onclick="'javascript:loadInterfaceIssue(\'' + ${issue.Id} + '\');'">
                                                <span th:text="${issue.issueTitle}"></span>
                                            </a>
                                        </div>
                                        <span th:utext="${issue.issueDescription}"></span>
                                    </td>
                                    <td style="text-align: left; vertical-align: top;">
                                        <span th:utext="${#dates.format(issue.creationDate, 'yyyy-MM-dd')}"></span>
                                    </td>
                                    <td style="text-align: left; vertical-align: top;">
                                        <span th:utext="${#dates.format(issue.modifiedDate, 'yyyy-MM-dd')}"></span>
                                    </td>
                                    <td style="text-align: left; vertical-align: top;">
                                        <div th:if="${#strings.equals(issue.status, 'INTERFACE_STATUS_CLOSED')}" style="color: #2ECC71;">
                                            <i class="fa fa-comments" style="padding-right: 4px;"></i>
                                            <i class="fa fa-check-circle" style="padding-right: 4px;"></i>
                                            <span th:text="${#strings.replace(issue.status, 'INTERFACE_STATUS_', '')}"></span>
                                        </div>
                                        <div th:if="${#strings.equals(issue.status, 'INTERFACE_STATUS_OPEN')}" style="color: #f33123; font-weight: bold;">
                                            <i class="fa fa-comments" style="padding-right: 4px;"></i>
                                            <i class="fa fa-clock-o" style="color: #f33123; padding-right: 4px;"></i>
                                            <span th:text="${#strings.replace(issue.status, 'INTERFACE_STATUS_', '')}"></span>
                                        </div>
                                        <div th:if="${issue.status == null}" style="color: #038dcc;">
                                            <i class="fa fa-comments" style="padding-right: 4px;"></i>
                                            <i class="fa fa-question-circle" style="color: #038dcc; padding-right: 4px;"></i>
                                            <span th:text="${#strings.replace(issue.status, 'INTERFACE_STATUS_', '')}"></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </body>
</html>
