<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <body>
        
        <div th:fragment="content-item-details">
           
            <div class="card" id="details">
                
                <div class="card-heading bg-pink-500">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                        <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                        <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);" th:onclick="'javascript:IntegrationInterfaceIssueEdit(\'' + ${issue.id} + '\');'"><em class="ion-edit icon-fw"></em>Edit Issue</a></li>
                            <li><a href="javascript:void(0);" th:onclick="'javascript:IntegrationInterfaceIssueCommentCreate(\'' + ${issue.id} + '\');'"><em class="ion-plus icon-fw"></em>Add Comment</a></li>
                        </ul>
                    </div>
                    <!-- END dropdown-->
                    <div class="card-title" th:text="${issue.systemId + ' - ' + issue.issueTitle}">Interface Issue Title</div>
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <span th:utext="${issue.issueDescription}"></span>
                        </div>
                    </div>
                </div>
                
                <div th:if="${#lists.size(issue.comments) > 0}" class="card-heading bg-pink-500">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                        <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                        <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);" th:onclick="'javascript:IntegrationInterfaceIssueCommentCreate(\'' + ${issue.id} + '\');'"><em class="ion-plus icon-fw"></em>Add Comment</a></li>
                        </ul>
                    </div>
                    <!-- END dropdown-->
                    <div class="card-title">Comments</div>
                </div>
                
                <div th:if="${#lists.size(issue.comments) > 0}" class="card-body">
                    <div th:each="comment : ${issue.comments}" style="margin: 10px 0; border-bottom: 1px solid #ddd;">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="requirement-comment-date" th:text="${#dates.format(comment.creationDate, 'yyyy-MM-dd HH:mm:ss')}" style="margin-bottom: 5px;"></div>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-left: 15px; display: inline-block;" th:text="'Added by ' + ${comment.author.firstName} + ' ' + ${comment.author.lastName}"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <div th:if="${#strings.equals(comment.status, 'INTERFACE_STATUS_CLOSED')}" style="color: #2ECC71; font-weight: bold;">
                                        <i class="fa fa-check-circle" style="padding-right: 8px;"></i>
                                        <span th:text="${#strings.replace(comment.status, 'INTERFACE_STATUS_', '')}"></span>
                                    </div>
                                    <div th:if="${#strings.equals(comment.status, 'INTERFACE_STATUS_OPEN')}" style="color: #ff6707; font-weight: bold;">
                                        <i class="fa fa-clock-o" style="color: #ff6707; padding-right: 8px;"></i>
                                        <span th:text="${#strings.replace(comment.status, 'INTERFACE_STATUS_', '')}"></span>
                                    </div>
                                    <div th:if="${comment.status == null}" style="color: #038dcc; font-weight: bold;">
                                        <i class="fa fa-question-circle" style="color: #038dcc; padding-right: 8px;"></i>
                                        <span th:text="${#strings.replace(comment.status, 'INTERFACE_STATUS_', '')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:utext="${comment.comment}"></div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </body>
</html>
