<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/master">

    <head>
        <title>Zidingo PMS - Template Editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">

            <div class="row content">

                <div class="container container-md">

                    <div class="col-md-12">

                        <div class="card">

                            <div class="card-heading bg-pink-500">
                                <div class="card-title">
                                    Message Template Editor
                                </div>
                            </div>

                            <div class="card-heading bg-blue-grey-100">
                                <div class="row">
                                    <label class="col-sm-2 control-label text-left" style="margin-top: 5px;">Template Name:</label>
                                    <div class="col-sm-4">
                                        <input id="templateName" type="text" class="form-control input-sm" placeholder="Enter template name (no spaces or special chars)" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 8px;">
                                    <label class="col-sm-2 control-label text-left" style="margin-top: 5px;">Message Subject:</label>
                                    <div class="col-sm-8">
                                        <input id="messageSubject" type="text" class="form-control input-sm" placeholder="Enter message subject" />
                                    </div>
                                </div>
                            </div>

                            <div class="card-body" style="padding: 5px;">
                                <div id="summernote" class="summernote"></div>
                            </div>

                            <div class="card-footer bg-blue-grey-100">
                                <div class="pull-right">
                                    <button id="closeButton" class="btn btn-danger btn-fixed-width-100" th:onclick="'javascript:window.location.replace(\'/\');'">
                                        <i class="fa fa-ban"></i> Close
                                    </button>
                                    <button id="saveButton" class="btn btn-success btn-fixed-width-100" th:onclick="'javascript:saveMessageTemplate();'">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                </div>
                                <button class="btn btn-primary btn-fixed-width-100" th:onclick="'javascript:editorClear();'">
                                    <i class="fa fa-refresh"></i> Clear
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </body>
</html>
