<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/simple">
    
    <head>
        <title>ZIDINGO PMS - Error 404</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body class="blank">

        <div layout:fragment="content">

            <div class="error-container">
                <i class="pe-7s-way text-danger big-icon"></i>
                <h1>404</h1>
                <strong>Page Not Found</strong>
                <p>
                    Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.

                </p>
                <a href="index.html" class="btn btn-xs btn-success">Go back to dashboard</a>
            </div>

        </div>

    </body>
    
</html>
