<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/master">

    <head>
        <title>Zidingo PMS - Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">

            <div class="row content">
                
                <div class="container container-md">
                   
                    <div class="col-md-12">

                        <div class="card">

                            <div class="card-heading bg-white">
                                <!-- START dropdown-->
                                <div class="pull-right dropdown">
                                    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                    <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);" th:onclick="'javascript:ProjectCreateNew();'"><em class="ion-plus icon-fw"></em>Create Project</a></li>
                                    </ul>
                                </div>
                                <!-- END dropdown-->
                                <div class="card-title">Projects</div>
                            </div>

                            <div class="card-body">
                                
                                <div class="row" th:if="${!projects.isEmpty()}">
                                    
                                    <div th:each="project : ${projects}" class="col-md-6">
                                        
                                        <div class="card">
                                            <div class="card-heading" 
                                                 th:classappend="${(#strings.equalsIgnoreCase(project.status, 'STATUS_PLANNED') ? ' bg-blue-grey-500' : '') + 
                                                                   (#strings.equalsIgnoreCase(project.status, 'STATUS_ACTIVE') ? ' bg-light-blue-800' : '') + 
                                                                   (#strings.equalsIgnoreCase(project.status, 'STATUS_PAUSED') ? ' bg-orange-800' : '') +
                                                                   (#strings.equalsIgnoreCase(project.status, 'STATUS_COMPLETED') ? ' bg-green-500' : '') +
                                                                   (#strings.equalsIgnoreCase(project.status, 'STATUS_CANCELLED') ? ' bg-pink-500' : '')}">
                                                <!-- START dropdown-->
                                                <div class="pull-right dropdown">
                                                    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                                    <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                                        <li><a th:href="@{/projects/} + ${project.uuId}"><em class="ion-document-text icon-fw"></em>Open Project</a></li>
                                                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="javascript:void(0);" th:onclick="'javascript:ProjectEditProperties(\'' + ${project.uuId} + '\')'"><em class="ion-edit icon-fw"></em>Properties</a></li>
                                                    </ul>
                                                </div>
                                                <!-- END dropdown-->
                                                <div class="card-title" th:text="${#strings.abbreviate(project.projectName, 42)}">Zafritech Zidingo RMS</div>
                                            </div>
                                            
                                            <div class="card-body">
                                                Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada. 
                                                <div class="row" style="margin-top: 15px;">
                                                    <div class="col-md-4 text-center">
                                                        <h4 class="m0">3778</h4>
                                                        <p class="text-muted">Items</p>
                                                    </div>
                                                    <div class="col-md-4 text-center">
                                                        <h4 class="m0">2780</h4>
                                                        <p class="text-muted">Closed</p>
                                                    </div>
                                                    <div class="col-md-4 text-center">
                                                        <h4 class="m0">23</h4>
                                                        <p class="text-muted">Issues</p>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="card-footer">
                                                <p><small>72%</small></p>
                                                <div class="progress progress-xs m0">
                                                    <div style="width:72%" class="progress-bar progress-bar-primary"></div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>

                    </div>
                    
                </div>
                
            </div>
            
        </div>
 
        <th:block layout:fragment="scripts"></th:block>
    
    </body>

</html>