<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="homer/layouts/main-default">

    <head>
        <title th:text="${project.projectName}">Zafritech SE - Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">

            <div class="row content">
                
                <div class="container container-lg">
                    
                    <div class="col-md-12">

                        <div class="card" th:if="${project != null}">
                            
                            <!-- zTree navigation tags START-->
                            <input type="hidden" id="treeValid" th:value="${project.Id}" />
                            <input type="hidden" id="projectId" th:value="${project.Id}" />
                            <input type="hidden" id="nodeId" th:value="${folder.Id}" />
                            
                            <input type="hidden" id="openDocTreeValid" th:value="${project.Id}" />
                            <!-- zTree navigation tags END-->
                            
                            <div class="card-heading" 
                                 th:classappend="${(#strings.equalsIgnoreCase(project.status, 'STATUS_PLANNED') ? ' bg-blue-grey-500' : '') + 
                                                   (#strings.equalsIgnoreCase(project.status, 'STATUS_ACTIVE') ? ' bg-light-blue-800' : '') + 
                                                   (#strings.equalsIgnoreCase(project.status, 'STATUS_PAUSED') ? ' bg-orange-800' : '') +
                                                   (#strings.equalsIgnoreCase(project.status, 'STATUS_COMPLETED') ? ' bg-green-500' : '') +
                                                   (#strings.equalsIgnoreCase(project.status, 'STATUS_CANCELLED') ? ' bg-pink-500' : '')}">
                                <!-- START dropdown-->
                                <div class="pull-right dropdown">
                                  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="javascript:void(0);" th:onclick="'javascript:ProjectEditProperties(\'' + ${project.uuId} + '\')'"><em class="ion-edit icon-fw"></em>Edit Properties</a></li>
                                    <li><a href="javascript:void(0);" th:onclick="'javascript:ProjectManageMembers(\'' + ${project.uuId} + '\')'"><em class="ion-person-add icon-fw"></em>Add Members</a></li>
                                    <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><em class="ion-settings icon-fw"></em>Project Tasks</a></li>
                                    <li><a href="/projects"><em class="ion-navicon-round icon-fw"></em>Projects List</a></li>
                                    <li><a th:href="'/projects/close/' + ${project.uuId}"><em class="ion-close icon-fw"></em>Close Project</a></li>
                                  </ul>
                                </div>
                                <!-- END dropdown-->
                                <div class="card-title" th:text="${project.projectNumber} + ' - ' + ${project.projectName}">Project Information</div>
                            </div>

                            <div class="card-body" style="padding-bottom: 0px;">
                                
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-heading bg-grey-100">
                                                <!-- START dropdown-->
                                                <div class="pull-right dropdown">
                                                    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon ripple"><em class="ion-android-more-vertical"></em></button>
                                                    <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                                        <li><a href="">Last 30 days</a></li>
                                                        <li><a href="">Last week</a></li>
                                                        <li><a href="">Last year</a></li>
                                                    </ul>
                                                </div>
                                                <!-- END dropdown-->
                                                <div class="card-title">Requirements Statistics</div>
                                            </div>
                                            <div class="card-body">
                                             
                                                <div id="projectSnapshotsChart" style="margin-bottom: 20px;"><svg style="height: 330px;"></svg></div>
                                                
                                                <canvas id="requirementsStatusChart" width="200" height="100"></canvas>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-heading bg-grey-100">
                                                <!-- START dropdown-->
                                                <div class="pull-right dropdown">
                                                    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon ripple"><em class="ion-android-more-vertical"></em></button>
                                                    <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                                        <li><a href="">Last 30 days</a></li>
                                                        <li><a href="">Last week</a></li>
                                                        <li><a href="">Last year</a></li>
                                                    </ul>
                                                </div>
                                                <!-- END dropdown-->
                                                <div class="card-title">Project Summary</div>
                                            </div>
                                            <div class="card-body">
                                                
                                                <canvas id="projectProgressChart" width="200" height="100"></canvas>
                                                 
                                                <div class="row" style="margin-top: 20px; padding: 3px 0; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Description:</strong></div>
                                                    <div class="col-sm-8">Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Number:</strong></div>
                                                    <div class="col-sm-8" th:text="${project.projectNumber}"></div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Alias:</strong></div>
                                                    <div class="col-sm-8" th:text="${project.projectShortName}"></div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Sponsor:</strong></div>
                                                    <div class="col-sm-8" th:text="${project.projectSponsor.companyName}"></div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Classification:</strong></div>
                                                    <div class="col-sm-8" th:text="${project.infoClass.className}"></div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Category:</strong></div>
                                                    <div class="col-sm-8" th:text="${project.projectType.entityTypeName}"></div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Launch date:</strong></div>
                                                    <div class="col-sm-8" th:text="${#dates.format(project.startDate, 'MMMM dd, yyyy')}"></div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Finish date:</strong></div>
                                                    <div class="col-sm-8" th:text="${#dates.format(project.endDate, 'MMMM dd, yyyy')}"></div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Manager:</strong></div>
                                                    <div class="col-sm-8">
                                                        <a th:href="'/admin/users/' + ${project.projectManager.uuId}">
                                                            <span th:text="${project.projectManager.firstName}"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Contact:</strong></div>
                                                    <div class="col-sm-8">
                                                        <a th:if="${project.projectContact != null}" th:href="'/admin/contacts/' + ${project.projectContact.uuId}">
                                                            <span th:text="${project.projectContact.city}"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; border-bottom: 1px solid #e0e0e0;">
                                                    <div class="col-sm-4"><strong>Status:</strong></div>
                                                    <div class="col-sm-8" th:text="${#strings.replace(project.status, 'STATUS_', '')}"></div>
                                                </div>
                                                <div class="row" style="padding: 3px 0; margin-bottom: 20px;">
                                                    <div class="col-sm-4"><strong>Progress:</strong></div>
                                                    <div class="col-sm-8">
                                                        <span><small>68%</small></span>
                                                        <div class="progress progress-xs m0">
                                                            <div style="width:68%" class="progress-bar progress-bar-success"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:if="${!members.isEmpty()}" class="row" style="padding: 3px 0; margin-bottom: 20px;">
                                                    <div class="col-sm-4"><strong>Members:</strong></div>
                                                    <div class="col-sm-8">
                                                        <div th:each="member : ${members}">
                                                            <a th:href="'/admin/users/' + ${member.uuId}">
                                                                <span th:text="${member.firstName} + ' ' + ${member.lastName}"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                
<!--                                                <p><strong>Members</strong></p>
                                                
                                                <div class="pl-lg mb-lg">
                                                    <a href="/admin/users/id-TBD" class="inline">
                                                        <img src="/images/user/01.jpg" alt="project member" class="img-circle thumb32" />
                                                    </a>
                                                    <a href="/admin/users/id-TBD" class="inline">
                                                        <img src="/images/user/02.jpg" alt="project member" class="img-circle thumb32" />
                                                    </a>
                                                    <a href="/admin/users/id-TBD" class="inline">
                                                        <img src="/images/user/03.jpg" alt="project member" class="img-circle thumb32" />
                                                    </a>
                                                    <a href="/admin/users/id-TBD" class="inline">
                                                        <img src="/images/user/04.jpg" alt="project member" class="img-circle thumb32" />
                                                    </a>
                                                    <a href="/admin/users/id-TBD" class="inline">
                                                        <img src="/images/user/05.jpg" alt="project member" class="img-circle thumb32" />
                                                    </a>
                                                    <a href="/admin/users/id-TBD" class="inline">
                                                        <img src="/images/user/06.jpg" alt="project member" class="img-circle thumb32" />
                                                    </a>
                                                    <a href="/admin/users/id-TBD" class="inline">
                                                        <img src="/images/user/07.jpg" alt="project member" class="img-circle thumb32" />
                                                    </a>
                                                </div>-->
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        <div class="card">
                                            
                                            <div class="card-heading bg-grey-100">
                                                <!-- START dropdown-->
                                                <div class="pull-right dropdown">
                                                    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon ripple"><em class="ion-android-more-vertical"></em></button>
                                                    <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                                        <li><a href="">Last 30 days</a></li>
                                                        <li><a href="">Last week</a></li>
                                                        <li><a href="">Last year</a></li>
                                                    </ul>
                                                </div>
                                                <!-- END dropdown-->
                                                <div class="card-title">Activity Summary</div>
                                            </div>

                                            <div class="card-body">

                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 100px;">Date</th>
                                                            <th style="width: 100px;">Activity</th>
                                                            <th>Descrition</th>
                                                            <th style="width: 100px">Responsible</th>
                                                            <th style="width: 40px"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>2017-07-25</td>
                                                            <td>Comment</td>
                                                            <td>Administrator added a comment.</td>
                                                            <td>Admin</td>
                                                            <td style="text-align: center;"><a href="#"><em class="ion-document-text fw-lg"></em></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2017-07-25</td>
                                                            <td>Task</td>
                                                            <td>Administrator added 138 tasks.</td>
                                                            <td>Admin</td>
                                                            <td style="text-align: center;"><a href="#"><em class="ion-document-text fw-lg"></em></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="card-footer bg-blue-grey-400">
                                <p><strong>Project Description:</strong></p>
                                <div>Ut turpis urna, tristique sed adipiscing nec, luctus quis leo. Fusce nec volutpat ante.</div>
                            </div>
                            
                        </div>

                    </div>

                </div>
                
            </div>
            
        </div>
        
        <th:block layout:fragment="scripts">
            <script src="/assets/zafritech/scripts/graphs.js"></script>
        </th:block>
    
    </body>

</html>