<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <body>

        <div layout:fragment="content">

            <div class="panel panel-info panel-dark">
                <div class="panel-heading">
                    <span class="panel-title">
                        <i class="panel-title-icon fa fa-subway"></i>
                        <span th:if="${entity != null} AND ${element != null}" th:text="${entity.company.companyCode} + ' -> ' + ${element.name}">System Elements</span>
                        <span th:if="${entity != null} AND ${element == null}" th:text="${entity.company.companyName}">System Elements</span>
                        <span th:if="${entity == null} AND ${element == null}">System Elements</span>
                    </span>
                    <div class="panel-heading-controls">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border-radius: 2px;">
                                <i class="fa fa-cog"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li th:if="${element == null AND entity != null}">
                                    <a href="javascript:void(0);" th:onclick="'javascript:IntegrationRootElementCreate(\'' + ${entity.Id} + '\');'">
                                        <i class="fa fa-pencil m-r-1"></i>Edit Element
                                    </a>
                                </li>
                                <li th:if="${element != null}">
                                    <a href="javascript:void(0);" th:onclick="'javascript:IntegrationElementEdit(\'' + ${element.Id} + '\');'">
                                        <i class="fa fa-pencil m-r-1"></i>Edit Element
                                    </a>
                                </li>
                                <li th:if="${element != null}">
                                    <a href="javascript:void(0);" th:onclick="'javascript:IntegrationElementCreate(\'' + ${element.Id} + '\');'">
                                        <i class="fa fa-sitemap m-r-1"></i>Add Child Element
                                    </a>
                                </li>
                                <li th:if="${element != null}">
                                    <a href="javascript:void(0);" th:onclick="'javascript:IntegrationInterfaceCreate(\'' + ${element.Id} + '\');'">
                                        <i class="fa fa-link m-r-1"></i>Create New Interface
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" th:onclick="'javascript:updateElementsSortOrder();'">
                                        <i class="fa fa-link m-r-1"></i>Update Elements Sort Order
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div style="height:calc(100vh - 290px); overflow-x: hidden; overflow-y: auto; padding-right: 10px;">
                        <div th:if="${!tree.isEmpty()}"  class="table-light" style="margin-top: 20px;">
                            <div class="table-header">
                                <div th:if="${element != null}" class="table-caption" th:text="${element.sbs} + '  ' + ${element.name} + ' - Components'">Components</div>
                                <div th:if="${element == null}" class="table-caption" th:text="${entity.sbs} + '.0 ' + ${entity.company.companyName} + ' - Components'">Components</div>
                            </div>
                            
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Interface Name</th>
                                        <th style="width: 100px; text-align: center;">Entity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="dao : ${tree}">
                                        <td style="text-align: left;">
                                            <a href="javascript:void(0);" th:onclick="'javascript:loadElementInterfaces(\'' + ${dao.element.Id} + '\');'">
                                                <img th:attr="src=${'/images/icons/folder-icon.png'}" />
                                                <span th:text="${dao.element.sbs + ' ' + dao.element.name}"></span>
                                            </a>
                                        </td>
                                        <td style="text-align: center;">
                                            <span th:text="${dao.element.entity.company.companyCode}"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div th:if="${element != null} AND ${!interfaces.isEmpty()}" class="table-light" style="margin-top: 20px;">
                            <div class="table-header">
                                <div class="table-caption" th:text="${element.sbs} + ' ' + ${element.name} + ' Interfaces'">Interfaces</div>
                            </div>
                            
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 100px;">Interface ID</th>
                                        <th>Interface Name</th>
                                        <th style="width: 90px">Entities</th>
                                        <th style="width: 70px;">Level</th>
                                        <th style="width: 100px;">Status</th>
                                        <th style="width: 80px; text-align: center;">Issues</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="interface : ${interfaces}">
                                        <td style="text-align: left;">
                                            <a href="javascript:void(0);" th:onclick="'javascript:loadInterfaceDetails(\'' + ${interface.Id} + '\');'">
                                                <span th:text="${interface.systemId}"></span>
                                            </a>
                                        </td>
                                        <td style="text-align: left;">
                                            <a href="javascript:void(0);" th:onclick="'javascript:loadInterfaceDetails(\'' + ${interface.Id} + '\');'">
                                                <span th:text="${interface.interfaceTitle}"></span>
                                            </a>
                                        </td>
                                        <td th:text="${interface.primaryEntityCode} + ' - ' + ${interface.secondaryEntityCode}" style="text-align: left;"></td>
                                        <td th:text="'Level ' + ${interface.interfaceLevel}" style="text-align: left;"></td>
                                        <td style="text-align: left;">
                                            <div th:if="${#strings.equals(interface.status, 'INTERFACE_STATUS_CLOSED')}" style="color: #2ECC71;">
                                                <i class="fa fa-check-circle" style="padding-right: 8px;"></i>
                                                <span th:text="${#strings.replace(interface.status, 'INTERFACE_STATUS_', '')}"></span>
                                            </div>
                                            <div th:if="${#strings.equals(interface.status, 'INTERFACE_STATUS_OPEN')}" style="color: #ff6707;">
                                                <i class="fa fa-clock-o" style="color: #ff6707; padding-right: 8px;"></i>
                                                <span th:text="${#strings.replace(interface.status, 'INTERFACE_STATUS_', '')}"></span>
                                            </div>
                                            <div th:if="${interface.status == null}" style="color: #038dcc;">
                                                <i class="fa fa-question-circle" style="color: #038dcc; padding-right: 8px;"></i>
                                                <span th:text="${#strings.replace(interface.status, 'INTERFACE_STATUS_', '')}"></span>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <a th:if="${interface.issues > 0}" href="javascript:void(0);" th:onclick="'javascript:loadInterfaceDetails(\'' + ${interface.Id} + '\');'">
                                                <span th:if="${interface.issues == 1}" th:text="${interface.issues + ' issue'}"></span>
                                                <span th:if="${interface.issues > 1}" th:text="${interface.issues + ' issues'}"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>

                    </div>
                    
                </div>
            </div>
            
        </div>
        
        <th:block layout:fragment="scripts"></th:block>

    </body>

</html>