<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

        <title>Zafritech SE</title>

        <link rel="stylesheet" href="/assets/vendor/googlefonts/fonts.googleapis.css" type="text/css" />
        <link rel="stylesheet" href="/assets/vendor/ionicons/css/ionicons.css" type="text/css" />
        <link rel="stylesheet" href="/assets/vendor/fontawesome/css/font-awesome.min.css" type="text/css" />

        <!-- Core stylesheets -->
        <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/assets/templates/pixeladmin/css/pixeladmin.min.css" type="text/css" />
        <link rel="stylesheet" href="/assets/templates/pixeladmin/css/widgets.min.css" type="text/css" />

        <!-- Theme -->
        <link rel="stylesheet" href="/assets/templates/pixeladmin/css/themes/clean.min.css" type="text/css" />

        <!-- Vendor styles -->
        <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
        <link rel="stylesheet" href="/assets/vendor/sweetalert/lib/sweet-alert.css" />
        <link rel="stylesheet" href="/assets/vendor/animate.css/animate.min.css" />
        
        <!--Zafritech styles-->
        <link rel="stylesheet" href="/assets/zafritech/styles/widgets.css" />
        
        <link href="/assets/vendor/ztree/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!-- Side Nav -->
        <div th:replace="pixeladmin/layouts/sidenav-default :: side-nav"></div>

        <!-- Top Navbar -->
        <div th:replace="pixeladmin/layouts/topnav-default :: top-nav"></div>

        <!-- Content -->
        <div layout:fragment="content">

            <div>Content</div>
            
        </div>

        <!-- Footer -->
        <footer class="px-footer px-footer-bottom">
            Copyright © 2016 - 2018 Zafritech (Pty) Ltd. All rights reserved.
        </footer>

        <!-- ==============================================================================
        |
        |  SCRIPTS
        |
        =============================================================================== -->

        <!-- Load jQuery -->
        <script src="/assets/vendor/jquery/dist/3.2.1/jquery.min.js"></script>
        
        <!-- Core scripts -->
        <script src="/assets/templates/pixeladmin/js/bootstrap.js"></script>
        <script src="/assets/templates/pixeladmin/js/pixeladmin.min.js"></script>
        <script src="/assets/vendor/ztree/jquery.ztree.core.js"></script>
        <script src="/assets/vendor/pace/pace.min.js"></script>
        
        <!-- Vendor scripts -->
        <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="/assets/vendor/sweetalert/lib/sweet-alert.min.js"></script>
        
        <!-- Zafritech scripts -->
        <script src="/assets/zafritech/scripts/main.js"></script>
        <script src="/assets/zafritech/scripts/utils.js"></script>
        <script src="/assets/zafritech/scripts/ui-updates.js"></script>
        <script src="/assets/zafritech/scripts/messages.js"></script>
        <script src="/assets/zafritech/scripts/user.js"></script>
        <script src="/assets/zafritech/scripts/contacts.js"></script>
        <script src="/assets/zafritech/scripts/company.js"></script>
        <script src="/assets/zafritech/scripts/editor-settings.js"></script>
        
        <script src="/assets/zafritech/scripts/project.js"></script>
        <script src="/assets/zafritech/scripts/document.js"></script>
        <script src="/assets/zafritech/scripts/integration.js"></script>

        <th:block layout:fragment="scripts"></th:block>

    </body>
</html>
