<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <body>

        <nav th:fragment="top-nav" class="navbar px-navbar">

            <!-- Header -->
            <div class="navbar-header" style="padding-left: 0px;">
                <a class="navbar-brand" href="/">
                    <img src="/images/zafritech_se_logo_white.png" class="mv-lg block-center img-responsive thumb64" alt="Zafritech SE" style="height: 40px; padding-top: 10px;" />
                </a>
            </div>

            <!-- Navbar togglers -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#px-navbar-collapse" aria-expanded="false">
                <i class="navbar-toggle-icon"></i>
            </button>

            <!-- Collect the nav links and other content for toggling -->
            <div class="collapse navbar-collapse" id="px-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-line-chart m-r-1"></i>Projects
                        </a>
                        <ul class="dropdown-menu">
                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a href="javascript:void(0);" th:onclick="'javascript:ProjectCreateNew();'">
                                    <i class="fa fa-plus m-r-1"></i>New Project
                                </a>
                            </li>
                            <li th:if="${usersession.projectsCount == 0}">
                                <a href="#">No user projects found</a>
                            </li>
                            <li th:if="${usersession.projectsCount > 0}">
                                <a href="javascript:void(0);" th:onclick="'javascript:OpenProject();'">
                                    <i class="fa fa-folder-open m-r-1"></i>Open Project
                                </a>
                            </li>
                            <li th:if="${usersession.projectsCount > 0}">
                                <a href="/projects">
                                    <i class="fa fa-list-ul m-r-1"></i>List Project
                                </a>
                            </li>
                            <li th:if="${usersession.hasOpenProject}" class="divider"></li>
                            <li th:if="${usersession.hasOpenProject}">
                                <a th:href="'/projects/close/' + ${usersession.projectUuId}">
                                    <i class="fa fa-close m-r-1"></i>Close Project
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-window-maximize m-r-1"></i>Applications
                        </a>
                        <ul id="apps-dropdon-menu" class="dropdown-menu">
                            <li><a href="#">There is no open project</a></li> 
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-secret m-r-1"></i>Admin
                        </a>
                        <div class="dropdown-multi-column">
                            <ul class="dropdown-menu dropdown-column col-md-4">
                                <li class="dropdown-header">System</li>
                                <li><a href="/admin/configuration"><i class="fa fa-gears m-r-1"></i>Configuration</a></li>
                                <li><a href="/admin/users"><i class="fa fa-group m-r-1"></i>System Users</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-envelope m-r-1"></i>Messages</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-database m-r-1"></i>Database</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-stethoscope m-r-1"></i>Performance</a></li>
                                
                            </ul>
                            <ul class="dropdown-menu dropdown-column col-md-4">
                                <li class="dropdown-header">Projects</li>
                                <li><a href="/admin/companies"><i class="fa fa-institution m-r-1"></i>Organisations</a></li>
                                <li><a href="/admin/projects"><i class="fa fa-bar-chart m-r-1"></i>Projects</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-folder-open m-r-1"></i>Project Folders</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-file-text-o m-r-1"></i>Documents</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-tasks m-r-1"></i>Tasks</a></li>
                            </ul>
                            <ul class="dropdown-menu dropdown-column col-md-4">
                                <li class="dropdown-header">Applications</li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-list-ul m-r-1"></i>Application List</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-sliders m-r-1"></i>App Configure</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-check m-r-1"></i>App Enable</a></li>
                                <li><a href="javascript:void(0);" th:onclick="'javascript:notYetImplemented();'"><i class="fa fa-ban m-r-1"></i>App Disable</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                        <a href="https://stackoverflow.com" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="px-navbar-icon fa fa-bullhorn font-size-14"></i>
                            <span class="px-navbar-icon-label">Notifications</span>
                            <span class="px-navbar-label label label-success">5</span>
                        </a>
                        <div class="dropdown-menu p-a-0" style="width: 300px">
                            <div id="navbar-notifications" style="height: 280px; position: relative;">
                                <div class="widget-notifications-item">
                                    <div class="widget-notifications-title text-danger">SYSTEM</div>
                                    <div class="widget-notifications-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                                    <div class="widget-notifications-date">12h ago</div>
                                    <div class="widget-notifications-icon fa fa-hdd-o bg-danger"></div>
                                </div>

                                <div class="widget-notifications-item">
                                    <div class="widget-notifications-title text-info">STORE</div>
                                    <div class="widget-notifications-description">You have <strong>9</strong> new orders.</div>
                                    <div class="widget-notifications-date">12h ago</div>
                                    <div class="widget-notifications-icon fa fa-truck bg-info"></div>
                                </div>

                                <div class="widget-notifications-item">
                                    <div class="widget-notifications-title text-default">CRON DAEMON</div>
                                    <div class="widget-notifications-description">Job <strong>"Clean DB"</strong> has been completed.</div>
                                    <div class="widget-notifications-date">12h ago</div>
                                    <div class="widget-notifications-icon fa fa-clock-o bg-default"></div>
                                </div>

                                <div class="widget-notifications-item">
                                    <div class="widget-notifications-title text-success">SYSTEM</div>
                                    <div class="widget-notifications-description">Server <strong>up</strong>.</div>
                                    <div class="widget-notifications-date">12h ago</div>
                                    <div class="widget-notifications-icon fa fa-hdd-o bg-success"></div>
                                </div>

                                <div class="widget-notifications-item">
                                    <div class="widget-notifications-title text-warning">SYSTEM</div>
                                    <div class="widget-notifications-description"><strong>Warning</strong>: Processor load <strong>92%</strong>.</div>
                                    <div class="widget-notifications-date">12h ago</div>
                                    <div class="widget-notifications-icon fa fa-hdd-o bg-warning"></div>
                                </div>
                            </div>

                            <a href="#" class="widget-more-link">MORE NOTIFICATIONS</a>
                        </div>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                        <a href="https://google.com" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="px-navbar-icon fa fa-envelope font-size-14"></i>
                            <span class="px-navbar-icon-label">Income messages</span>
                            <span class="px-navbar-label label label-danger">8</span>
                        </a>
                        <div class="dropdown-menu p-a-0" style="width: 300px;">
                            <div id="navbar-messages" style="height: 280px; position: relative;">
                                <div class="widget-messages-alt-item">
                                    <img src="/images/user/avatars/2.jpg" alt="" class="widget-messages-alt-avatar" />
                                    <a href="#" class="widget-messages-alt-subject text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                                    <div class="widget-messages-alt-description">from <a href="#">Robert Jang</a></div>
                                    <div class="widget-messages-alt-date">2h ago</div>
                                </div>

                                <div class="widget-messages-alt-item">
                                    <img src="/images/user/avatars/3.jpg" alt="" class="widget-messages-alt-avatar" />
                                    <a href="#" class="widget-messages-alt-subject text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                                    <div class="widget-messages-alt-description">from <a href="#">Michelle Bortz</a></div>
                                    <div class="widget-messages-alt-date">2h ago</div>
                                </div>

                                <div class="widget-messages-alt-item">
                                    <img src="/images/user/avatars/4.jpg" alt="" class="widget-messages-alt-avatar" />
                                    <a href="#" class="widget-messages-alt-subject text-truncate">Lorem ipsum dolor sit amet.</a>
                                    <div class="widget-messages-alt-description">from <a href="#">Timothy Owens</a></div>
                                    <div class="widget-messages-alt-date">2h ago</div>
                                </div>

                                <div class="widget-messages-alt-item">
                                    <img src="/images/user/avatars/5.jpg" alt="" class="widget-messages-alt-avatar" />
                                    <a href="#" class="widget-messages-alt-subject text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                                    <div class="widget-messages-alt-description">from <a href="#">Denise Steiner</a></div>
                                    <div class="widget-messages-alt-date">2h ago</div>
                                </div>

                                <div class="widget-messages-alt-item">
                                    <img src="/images/user/avatars/2.jpg" alt="" class="widget-messages-alt-avatar" />
                                    <a href="#" class="widget-messages-alt-subject text-truncate">Lorem ipsum dolor sit amet.</a>
                                    <div class="widget-messages-alt-description">from <a href="#">Robert Jang</a></div>
                                    <div class="widget-messages-alt-date">2h ago</div>
                                </div>

                                <div class="widget-messages-alt-item">
                                    <img src="/images/user/avatars/3.jpg" alt="" class="widget-messages-alt-avatar" />
                                    <a href="#" class="widget-messages-alt-subject text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                                    <div class="widget-messages-alt-description">from <a href="#">Michelle Bortz</a></div>
                                    <div class="widget-messages-alt-date">2h ago</div>
                                </div>

                                <div class="widget-messages-alt-item">
                                    <img src="/images/user/avatars/4.jpg" alt="" class="widget-messages-alt-avatar" />
                                    <a href="#" class="widget-messages-alt-subject text-truncate">Lorem ipsum dolor sit amet.</a>
                                    <div class="widget-messages-alt-description">from <a href="#">Timothy Owens</a></div>
                                    <div class="widget-messages-alt-date">2h ago</div>
                                </div>

                                <div class="widget-messages-alt-item">
                                    <img src="/images/user/avatars/5.jpg" alt="" class="widget-messages-alt-avatar" />
                                    <a href="#" class="widget-messages-alt-subject text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                                    <div class="widget-messages-alt-description">from <a href="#">Denise Steiner</a></div>
                                    <div class="widget-messages-alt-date">2h ago</div>
                                </div>
                            </div>

                            <a href="#" class="widget-more-link">MORE MESSAGES</a>
                        </div> <!-- / .dropdown-menu -->
                    </li>

                    <li>
                        <form class="navbar-form" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" style="width: 140px;" />
                            </div>
                        </form>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img th:if="${usersession.photoPath == null}" src="/images/user/avatars/profile.png" alt="" class="px-navbar-image" />
                            <img th:if="${usersession.photoPath != null}" th:attr="src=@{'/resources/images/' + ${usersession.photoPath}}" alt="" class="px-navbar-image" />
                            <span th:if="${usersession != null}" th:text="${usersession.firstName}" class="hidden-md">Joe Soap</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile"><span class="label label-warning pull-xs-right"><i class="fa fa-asterisk"></i></span>Profile</a></li>
                            <li><a href="/account"><i class="dropdown-icon fa fa-id-card-o"></i>&nbsp;&nbsp;Account</a></li>
                            <li><a href="/messages"><i class="dropdown-icon fa fa-envelope"></i>&nbsp;&nbsp;Messages</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                        </ul>
                    </li>

                </ul>

            </div><!-- /.navbar-collapse -->
        </nav>

    </body>

</html>
