<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="pixeladmin/layouts/main-default">

    <head>
        <title>Zafritech SE - Projects List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <!-- Content -->
        <div layout:fragment="content" class="px-content">

            <div style="height:calc(100vh - 145px); overflow-x: hidden;; overflow-y: auto; padding-right: 15px;"> <!-- Scrolling area -->

                <div class="page-header">
                    <h1 id="pagetitle">Zafritech SE - Projects</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 font-size-14">

                        <div class="panel panel-info panel-dark">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-bar-chart"></i>Registered Projects</span>
                            </div>
                            <div class="panel-body">

                                <div th:if="${!projects.isEmpty()}" class="row">

                                    <div th:each="project : ${projects}" class="zaf-imagewidget-item col-md-3">
                                        <div class="project">
                                            <figure class="img-responsive">
                                                <img th:if="${project.projectLogo == null}" src="/images/projects/project-placeholder.png" />
                                                <img th:if="${project.projectLogo != null}" th:attr="src=@{'/resources/images/projects/project_' + ${project.uuId} + '/' + ${project.projectLogo}}" />
                                                <figcaption>
                                                    <span class="project-details">
                                                        <a class="zaf-imagewidget-title" th:href="'/projects/' + ${project.UuId}">
                                                            <span th:text="${project.projectShortName}"></span>
                                                        </a>
                                                    </span>
                                                    <span class="project-creator" th:text="${project.projectType.entityTypeName}">creator name</span>
                                                </figcaption>
                                                <span class="actions">
                                                    <a th:href="'/projects/' + ${project.UuId}" class="btn btn-success bnt-action">Open Project</a>
                                                </span>
                                            </figure>
                                        </div>
                                    </div>

                                </div>
                                
                                <div th:if="${projects.isEmpty()}" class="text-center">
                                    <p class="text-danger">Your are not registered for any projects in this application. Please contact your system administrator.</p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </body>
    
</html>
