<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="pixeladmin/layouts/main-default">

    <head>
        <title>Zafritech SE - Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <!-- Content -->
        <div layout:fragment="content" class="px-content">
            
            <div style="height:calc(100vh - 145px); overflow-x: hidden;; overflow-y: auto; padding-right: 15px;"> <!-- Scrolling area -->
                
                <div class="page-header">
                    <h1 id="pagetitle" th:text="'Zafritech SE - ' + ${project.projectName}">Zafritech SE - Project</h1>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="border-radius: 2px;">
                                Project
                            </button>
                            <div class="dropdown-backdrop"></div>
                            <ul class="dropdown-menu pull-left" style="right: 0; left: auto; border-radius: 2px;">
                                <li sec:authorize="hasRole('ROLE_ADMIN')" th:if="${usersession.hasOpenProject}">
                                    <a href="javascript:void(0);" th:onclick="'javascript:addOrganisation(\'' + ${project.Id} + '\');'">
                                        <i class="fa fa-plus m-r-1"></i>Add Organisation
                                    </a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')" th:if="${usersession.hasOpenProject}">
                                    <a href="javascript:void(0);" th:onclick="'javascript:ProjectManageMembers(\'' + ${project.uuId} + '\');'">
                                        <i class="fa fa-group m-r-1"></i>Manage Members
                                    </a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a href="javascript:void(0);" th:onclick="'javascript:ProjectManageApplications(\'' + ${project.uuId} + '\');'">
                                        <i class="fa fa-window-restore m-r-1"></i>Manage Applications
                                    </a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')" class="divider"></li>
                                <li th:if="${usersession.hasOpenProject}">
                                    <a th:href="'/projects/close/' + ${usersession.projectUuId}">
                                        <i class="fa fa-close m-r-1"></i>Close Project
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-4">

                        <!-- Project's Details -->
                        <div class="panel panel-info panel-dark">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-tasks"></i>Project Details</span>
                                <div sec:authorize="hasRole('ROLE_ADMIN')" class="panel-heading-controls">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border-radius: 2px;">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="javascript:void(0);" th:onclick="'javascript:ProjectEditProperties(\'' + ${project.uuId} + '\');'">
                                                    <i class="fa fa-pencil m-r-1"></i>Edit Project
                                                </a>
                                            </li>
                                            <li th:if="${usersession.hasOpenProject}">
                                                <a href="javascript:void(0);" th:onclick="'javascript:ProjectUpdateLogo(\'' + ${project.Id} + '\');'">
                                                    <i class="fa fa-photo m-r-1"></i>Update Project Logo
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4" align="center">
                                        <img th:if="${project.projectLogo == null}" src="/images/projects/project-placeholder.png" class="img-responsive" />
                                        <img th:if="${project.projectLogo != null}" th:attr="src=@{'/resources/images/' + ${project.projectLogo}}" class="img-responsive" />
                                    </div>
                                    <div class="col-md-8">
                                        <table class="table table-condensed">
                                            <tr>
                                                <td colspan="2" class="font-weight-bold" th:text="${project.projectName}">Project Name</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold" style="width:30%">Type</td>
                                                <td th:text="${project.projectType.entityTypeName}"></td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Sponsor</td>
                                                <td th:text="${project.projectSponsor.companyCode}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Project's Applications -->
                        <div class="panel panel-info panel-dark">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-window-restore"></i>Project Applications</span>
                                <div sec:authorize="hasRole('ROLE_ADMIN')" class="panel-heading-controls">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border-radius: 2px;">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="javascript:void(0);" th:onclick="'javascript:ProjectManageApplications(\'' + ${project.uuId} + '\');'">
                                                    <i class="fa fa-window-restore m-r-1"></i>Manage Applications
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                
                                <ul class="widget-applications" th:if="${!project.applications.isEmpty()}">
                                    <li th:each="application : ${project.applications}">
                                        <a th:href="'/app/' + ${application.applicationName}">
                                            <span class="img">
                                                <img class="img-thumbnail widget-applications-thumb" th:attr="src='/images/applications/' + ${application.applicationName} + '_image.png', alt=${application.applicationTitle}" />
                                            </span>
                                            <span class="application clearfix">
                                                <span class="name" th:text="${application.applicationTitle}">Application Name</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    
                    <div class="col-md-8">

                        <!-- Project's Organisations -->
                        <div class="panel panel-info panel-dark">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-institution"></i>Organisations</span>
                                <div sec:authorize="hasRole('ROLE_ADMIN')" class="panel-heading-controls">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border-radius: 2px;">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li th:if="${usersession.hasOpenProject}">
                                                <a href="javascript:void(0);" th:onclick="'javascript:addOrganisation(\'' + ${project.Id} + '\');'">
                                                    <i class="fa fa-plus m-r-1"></i>Add Organisation
                                                </a>
                                            </li>
                                            <li th:if="${usersession.hasOpenProject}">
                                                <a href="javascript:void(0);" th:onclick="'javascript:CompanyCreateNew();'">
                                                    <i class="fa fa-plus m-r-1"></i>Create New Organisation
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="table-light">
                                    <div class="table-header">
                                        <div class="table-caption" th:text="${project.projectName} + ' Participating Organisations'">Participating Organisations</div>
                                    </div>
                                    <table th:if="${!companies.isEmpty()}" class="table table-bordered" style="margin-bottom: 0;">
                                        <thead>
                                            <tr>
                                                <th style="width: 15%;">Name</th>
                                                <th style="width: 65%;">Organisation Full Name</th>
                                                <th style="width: 20%;">Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="role : ${companies}">
                                                <td>
                                                    <a th:href="'/companies/' + ${role.company.UuId}">
                                                        <span th:text="${role.company.companyCode}">Name</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a th:href="'/companies/' + ${role.company.UuId}">
                                                        <span th:text="${role.company.companyName}">Name</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a th:href="'/companies/' + ${role.company.UuId}">
                                                        <span th:text="${#strings.replace(role.companyRole, '_ORGANISATION', '')}">Role</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:if="${companies.isEmpty()}">

                                </div>

                            </div>
                        </div>

                        <!-- Project's Member Users -->
                        <div class="panel panel-info panel-dark">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-group"></i>Project Members</span>
                                <div sec:authorize="hasRole('ROLE_ADMIN')" class="panel-heading-controls">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border-radius: 2px;">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li th:if="${usersession.hasOpenProject}">
                                                <a href="javascript:void(0);" th:onclick="'javascript:ProjectManageMembers(\'' + ${project.uuId} + '\');'">
                                                    <i class="fa fa-group m-r-1"></i>Manage Members
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="table-light">
                                    <div class="table-header">
                                        <div class="table-caption" th:text="${project.projectName} + ' Project Members'">Participating Organisations</div>
                                    </div>
                                    <table th:if="${!members.isEmpty()}" class="table table-bordered" style="margin-bottom: 0;">
                                        <thead>
                                            <tr>
                                                <th style="width: 70%;">Project Member</th>
                                                <th style="width: 30%;">Member Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="user : ${members}">
                                                <td>
                                                    <a th:href="'/admin/user/profile/' + ${user.uuId}">
                                                        <span th:text="${user.firstName} + ' ' + ${user.lastName}">Name</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a th:href="'/admin/user/profile/' + ${user.uuId}">
                                                        <span th:text="${user.email}">Email</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <table th:if="${members.isEmpty()}" class="table table-bordered" style="margin-bottom: 0;">
                                    <tr>
                                        <td>
                                            <div style="padding: 10px;">
                                                <a href="javascript:void(0);" th:onclick="'javascript:ProjectManageMembers(\'' + ${project.uuId} + '\');'">
                                                    This project has no members. Please add members.
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            
            </div> <!-- /Scrolling area -->
            
        </div>
        
    </body>
</html>
