<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <body>

        <div layout:fragment="content">

            <table th:if="${!members.isEmpty()}" class="table table-bordered" style="margin-bottom: 0;">
                <thead>
                    <tr>
                        <th style="width: 70%;">Project Member</th>
                        <th style="width: 30%;">Member Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${members}">
                        <td>
                            <a th:href="'/users/profile/' + ${user.uuId}">
                                <span th:text="${user.firstName} + ' ' + ${user.lastName}">Name</span>
                            </a>
                        </td>
                        <td>
                            <a th:href="'mailto:' + ${user.email}">
                                <span th:text="${user.email}">Email</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-footer">
                <span th:utext="${count} + ' Members, Page ' + ${page} + ' of ' + ${pages}" class="font-size-12">Page # of ##</span> 
                <span class="pull-lg-right" style="margin-top: -22px;">
                    <ul class="pagination pagination-xs">
                        <li th:class="${page == 1} ? 'disabled' : ''">
                            <span th:if="${page == 1}">First</span>
                            <a th:if="${page != 1}" href="javascript:void(0);" th:onclick="'javascript:loadPagedMembersList(\'' + ${size} + '\', \'1\');'">First</a>
                        </li>
                        <li th:class="${page != 1} ? '' : 'disabled'">
                            <span th:if="${page == 1}">«</span>
                            <a th:if="${page != 1}" href="javascript:void(0);" th:onclick="'javascript:loadPagedMembersList(\'' + ${size} + '\', \'' + ${page - 1} + '\');'"><span>«</span></a>
                        </li>
                        
                        <li th:each="p : ${list}" th:class="${p == page ? 'active' : ''}">
                            <span th:if="${p == page}" th:text="${page}">1</span>
                            <a th:if="${p != page}" href="javascript:void(0);" th:onclick="'javascript:loadPagedMembersList(\'' + ${size} + '\', \'' + ${p} + '\');'" th:text="${p}">1</a>
                        </li>
                        
                        <li th:if="${pages > last}" class="disabled"><span>...</span></li>

                        <li th:class="${page == pages} ? 'disabled' : ''">
                            <span th:if="${page == pages}">»</span>
                            <a th:if="${page != pages}" href="javascript:void(0);" th:onclick="'javascript:loadPagedMembersList(\'' + ${size} + '\', \'' + ${page + 1} + '\');'">»</a>
                        </li>
                        <li th:class="${page == pages} ? 'disabled' : ''">
                            <span th:if="${page == pages}">Last</span>
                            <a th:if="${page != pages}" href="javascript:void(0);" th:onclick="'javascript:loadPagedMembersList(\'' + ${size} + '\', \'' + ${pages} + '\');'">Last</a>
                        </li>
                    </ul>
                </span>
            </div>
            
        </div>

    </body>
</html>
