<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="pixeladmin/layouts/main-default">

    <head>
        <title>Zafritech SE - Document Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <!-- Content -->
        <div layout:fragment="content" class="px-content">

            <div class="page-header">
                <h1 id="pagetitle" th:text="${project.projectName} + ' - Document Management'">Document Management</h1>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="border-radius: 2px;">
                            Documents
                        </button>
                        <div class="dropdown-backdrop"></div>
                        <ul class="dropdown-menu pull-left" style="right: 0; left: auto; border-radius: 2px;">
                            <li th:if="${usersession.hasOpenProject}">
                                <a href="#">
                                    <i class="fa fa-plus m-r-1"></i>Add New Entity
                                </a>
                            </li>
                            <li th:if="${usersession.hasOpenProject}">
                                <a href="#">
                                    <i class="fa fa-plus m-r-1"></i>Add Document
                                </a>
                            </li>
                            <li th:if="${usersession.hasOpenProject}">
                                <a href="#">
                                    <i class="fa fa-file-excel-o m-r-1 text-success"></i>Download Spreadsheet
                                </a>
                            </li>
                            <li th:if="${usersession.hasOpenProject}">
                                <a href="#">
                                    <i class="fa fa-file-pdf-o m-r-1 text-warning"></i>Download PDF Report
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                
                
                
            </div>
            
        </div>

    </body>
</html>
